@import '../../../../../../styles/default-pallette.scss';

.wrapper {
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin: 0 10px 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.wrapper:hover,
.wrapper:active {
    background: $light-blue;
}

.title-wrapper {
    font-size: 20px;
    font-weight: 400;
    font-family: $poppins;
    display: flex;
}

.day-name {
    color: $army-green;
    margin-right: 3px;
}

.central-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bodyweight,
.created-at {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    max-width: 120px;

    &--key {
        color: $army-green;
        font-family: $poppins;
        justify-content: center;
    }

    &--value {
        justify-content: center;
    }
}

.created-at {
    align-self: flex-end;
}

.exercise-wrapper {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 50%;
    width: 90%;
}

.exercise-name {
    font-family: $poppins;
}

.exercise-dots {
    align-self: center;
}


@media (min-width: 40rem) {

    .wrapper {
        box-sizing: border-box;
        height: 200px;
        width: 275px;
        margin: 0 0 5px 0;
    }

    .exercise-wrapper {
        align-items: flex-start;
    }

}
