<mat-card
    class="wrapper"
    (click)="trainingClicked()">
    <div class="title-wrapper">
        <strong class="day-name">
            {{ ('weekdays.' + weekDays[dayIndex] | translate) }}</strong>
        {{ '(' + (training.createdAt | date: 'dd.MM.yyyy') + ')' }}
    </div>
    <div
        class="central-wrapper"
        [class.centered-central-wrapper]="!training.bodyweight">
        <div
            class="bodyweight"
            *ngIf="training.bodyweight">
            <strong class="bodyweight--key">
                {{ 'common.bodyweight' | translate }}
            </strong>
            <span class="bodyweight--value">
                {{ training.bodyweight + ' kg' }}
            </span>
        </div>
        <div class="created-at">
            <strong class="created-at--key">
                {{ 'common.created_at' | translate }}
            </strong>
            <span class="created-at--value">
                {{ timeCreated }}
            </span>
        </div>
    </div>
    <div
        class="exercise-wrapper"
        matTooltipClass="tooltip"
        [matTooltipDisabled]="isTooltipDisabled"
        [matTooltip]="(training | showAllExercises | async)">
        <span
            #exerciseNameEl
            *ngFor="let data of (training.exercise | slice:0:2); let i = index"
            class="exercise-name">
            {{ (i+1) + '. ' + (data.exerciseName | translate) }}
        </span>
        <span
            *ngIf="training.exercise.length > 2"
            class="exercise-dots">
            &#8942;
        </span>
    </div>
    <div class="actions">
        <mat-icon
            class="action"
            matTooltipClass="tooltip"
            [matTooltip]="'training.past_trainings.buttons.delete_training' | translate">
            delete
        </mat-icon>
        <mat-icon
            class="action"
            matTooltipClass="tooltip"
            matTooltip="TODO">more_vert</mat-icon>
    </div>
</mat-card>
