
ion-card-header {
    padding-bottom: 0;

    .day-name {
        color: var(--ion-color-primary);
        margin-right: 3px;
    }
}

ion-card-content {
    padding: 0;

    .bodyweight,
    .created-at {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-start;
        max-width: 120px;
        white-space: nowrap;

        &--key {
            color: var(--ion-color-primary);
            justify-content: center;
            font-size: 16px;
        }

        &--value {
            justify-content: center;
            font-size: 16px;
        }

        &--no-bodyweight {
            margin: 0 auto;
        }
    }

    .exercise-wrapper {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-no-dots {
            margin-bottom: 20px;
        }

        .exercise-name {
            max-width: 90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 16px;
        }

        .exercise-dots {
            align-self: center;
        }
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid var(--ion-color-light-periwinkle);
        height: 40px;
    }
}

ion-card:hover,
ion-card:active {
    background: var(--ion-color-light);
}

@media (min-width: 640px) {
    ion-card {
        height: 230px;
        width: 275px;
    }
}

