@import '../../../../../../../styles/default-pallette.scss';

::ng-deep .delete-training-dialog {
    .mat-dialog-container {
        padding: 30px;
    }
}

.title {
    font-family: $poppins;
}

.content {
    margin: 0 -30px;
    padding: 0 30px;
}

.created-at {
    &-key {
        display: block;
        margin-bottom: 10px;
    }

    &-value {
        color: $army-green;
        font-weight: 600;
    }
}

.exercises-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: flex-start;

    .exercise {
        &-value {
            color: $army-green;
            width: fit-content;
        }
    }
}

.actions {
    justify-content: flex-end;

    .delete-btn {
        margin-left: 20px;
    }
}
