<ion-fab horizontal="end" vertical="down" slot="fixed" [activated]="true">
    <ion-fab-button color="primary">
        <ion-icon name="calendar-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
        <ion-fab-button
            *ngFor="let day of daysOfWeek$ | async; let i = index"
            type="button"
            [class.active-day]="(activeDay$$ | async) === i + 1"
            [disabled]="isLoading"
            (click)="$event.stopImmediatePropagation(); onDayActivated(i);"
        >
            {{ day.substring(0, 3) }}
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>
