<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="onCancel()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ 'training.new_training.buttons.delete_exercise' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-text-center">
    <ion-text
        *ngIf="(deleteExercise?.message$ | async) as message"
        class="delete-exercise-msg">
        {{ message }}
    </ion-text>
    <ion-text>
        <p>
            {{ 'training.new_training.exercise_name' | translate }}
            <strong>{{ (deleteExercise?.exerciseName | translate) ?? '' }}</strong>
        </p>
    </ion-text>
    <ion-button
        *ngIf="deleteExercise"
        type="button"
        color="primary"
        (click)="onDeleteExercise()">
        {{ 'common.actions.delete' | translate }}
    </ion-button>
</ion-content>
