<ion-header>
    <ion-toolbar
        color="primary"
        class="toolbar-title">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ 'navigation.signup' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-spinner
                *ngIf="isLoading"
                name="crescent"></ion-spinner>
            <form
                *ngIf="!isLoading && form"
                [formGroup]="form"
                (ngSubmit)="onSubmit()">
                    <ion-row>
                        <ion-col>
                            <span class="description">
                                {{ 'auth.pick_language' | translate }}
                            </span>
                        </ion-col>
                    </ion-row>
                    <ion-radio-group formControlName="language">
                        <ion-row class="row">
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label class="label">{{ 'languages.english' | translate }}</ion-label>
                                    <ion-radio
                                        class="radio"
                                        slot="start"
                                        value="en">
                                    </ion-radio>
                                </ion-item>
                            </ion-col>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label class="label">{{ 'languages.croatian' | translate }}</ion-label>
                                    <ion-radio
                                        class="radio"
                                        slot="start"
                                        value="hr">
                                    </ion-radio>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <span
                            *ngIf="accessFormData('language').errors?.required"
                            slot="error">
                            {{ 'preferences.errors.language_required' | translate }}
                        </span>
                    </ion-radio-group>
                    <ion-row>
                        <ion-col>
                            <span class="description">
                                {{ 'auth.pick_weight_format' | translate }}
                            </span>
                        </ion-col>
                    </ion-row>
                    <ion-radio-group formControlName="weightFormat">
                        <ion-row class="row">
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label class="label">{{ 'common.kilograms' | translate }}</ion-label>
                                    <ion-radio
                                        class="radio"
                                        slot="start"
                                        value="kg">
                                    </ion-radio>
                                </ion-item>
                            </ion-col>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label class="label">{{ 'common.pounds' | translate }}</ion-label>
                                    <ion-radio
                                        class="radio"
                                        slot="start"
                                        value="lbs">
                                    </ion-radio>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <span
                            *ngIf="accessFormData('weightFormat').errors?.required"
                            slot="error">
                            {{ 'auth.errors.weight_format_required' | translate }}
                        </span>
                    </ion-radio-group>
                    <ion-row>
                        <ion-col>
                            <span
                                class="did-you-know"
                                matTooltipClass="tooltip"
                                [matTooltip]="'common.change_preference_registration' | translate">
                                {{ 'common.did_you_know' | translate }}
                            </span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label position="floating">{{ 'auth.email' | translate }}</ion-label>
                                <ion-input
                                    type="email"
                                    formControlName="email"></ion-input>
                            </ion-item>
                            <span
                                *ngIf="accessFormData('email').errors?.required"
                                slot="error">
                                {{ 'auth.errors.email_required' | translate }}
                            </span>
                            <span
                                *ngIf="accessFormData('email').errors?.email"
                                slot="error">
                                {{ 'auth.errors.invalid_email' | translate }}
                            </span>
                            <span
                                *ngIf="accessFormData('email').errors?.availableEmail"
                                slot="error">
                                {{ 'auth.errors.email_already_registered' | translate }}
                            </span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label position="floating">{{ 'auth.password' | translate }}</ion-label>
                                <!--TODO: input hint-->
                                <ion-input
                                    #inputPassword
                                    type="password"
                                    formControlName="password"></ion-input>
                            </ion-item>
                            <span
                                *ngIf="accessFormData('password').errors?.required"
                                slot="error">
                                {{ 'auth.errors.password_required' | translate }}
                            </span>
                            <span
                                *ngIf="accessFormData('password').errors?.minlength ||
                                    accessFormData('password').errors?.maxlength"
                                slot="error">
                                {{ 'auth.errors.password_length' | translate }}
                            </span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label position="floating">{{ 'auth.confirm_password' | translate }}</ion-label>
                                <!--TODO: input hint-->
                                <ion-input
                                    #inputConfirmPassword
                                    type="password"
                                    formControlName="confirmPassword"></ion-input>
                            </ion-item>
                            <span
                                *ngIf="accessFormData('confirmPassword').errors?.required"
                                slot="error">
                                {{ 'auth.errors.confirm_password_required' | translate }}
                            </span>
                            <span
                                *ngIf="accessFormData('confirmPassword').errors?.minlength ||
                                    accessFormData('confirmPassword').errors?.maxlength"
                                slot="error">
                                {{ 'auth.errors.password_length' | translate }}
                            </span>
                            <span
                                *ngIf="form.errors?.equalPass
                                    && !accessFormData('confirmPassword').errors?.minlength
                                    && !accessFormData('confirmPassword').errors?.maxlength"
                                slot="error">
                                {{ 'auth.errors.equal_passwords' | translate }}
                            </span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-button
                                type="submit"
                                color="primary"
                                [class.button-spinner]="isLoading"
                                [disabled]="isLoading">
                                {{ 'auth.signup' | translate }}
                            </ion-button>
                        </ion-col>
                    </ion-row>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
