
.period-filter {
    background-color: var(--ion-color-light);
}

.filters-container {
    margin-top: 10px;
}

.actions {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    margin-top: 30px;

    .filter-icon {
        width: 24px;
        height: 24px;
    }
}
