<ion-menu side="start" content-id="main">
    <ion-header>
        <ion-toolbar>
            <ion-title class="app-title">{{ 'navigation.title' | translate }}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-menu-toggle [autoHide]="false">
                <ion-item
                    *ngIf="!(isAuthenticated$ | async)"
                    lines="none"
                    routerLink="/auth/login"
                    routerDirection="forward"
                >
                    <ion-icon slot="start" name="log-in-sharp" color="primary"></ion-icon>
                    <ion-label>{{ 'navigation.login' | translate }}</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle [autoHide]="false">
                <ion-item
                    *ngIf="!(isAuthenticated$ | async)"
                    lines="none"
                    routerLink="/auth/signup"
                    routerDirection="forward"
                >
                    <ion-icon slot="start" name="arrow-forward-sharp" color="primary"></ion-icon>
                    <ion-label>{{ 'navigation.signup' | translate }}</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle [autoHide]="false">
                <ion-item
                    *ngIf="isAuthenticated$ | async"
                    lines="none"
                    routerLink="/training/new-training"
                    routerDirection="forward"
                    [detail]="false"
                >
                    <ion-icon slot="start" name="barbell-sharp" color="primary"></ion-icon>
                    <ion-label>{{ 'navigation.new_training' | translate }}</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle [autoHide]="false">
                <ion-item *ngIf="isAuthenticated$ | async" lines="none" (click)="goToPastTrainings()">
                    <ion-icon slot="start" name="analytics-sharp" color="primary"></ion-icon>
                    <ion-label>{{ 'navigation.past_trainings' | translate }}</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle [autoHide]="false">
                <ion-item
                    *ngIf="isAuthenticated$ | async"
                    lines="none"
                    (click)="openPreferencePopover($event, 'language')"
                >
                    <ion-icon slot="start" name="language-sharp" color="primary"></ion-icon>
                    <ion-label>{{ 'navigation.language' | translate }}</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle [autoHide]="false">
                <ion-item
                    *ngIf="isAuthenticated$ | async"
                    lines="none"
                    (click)="openPreferencePopover($event, 'weightUnit')"
                >
                    <ion-icon slot="start" name="calculator-sharp" color="primary"></ion-icon>
                    <ion-label>{{ 'navigation.unit' | translate }}</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle [autoHide]="false">
                <ion-item *ngIf="isAuthenticated$ | async" lines="none" routerDirection="backward" (click)="onLogout()">
                    <ion-icon slot="start" name="log-out-sharp" color="primary"></ion-icon>
                    <ion-label>{{ 'navigation.logout' | translate }}</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>
