<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="new-training">
            <ion-icon name="barbell-sharp"></ion-icon>
            <ion-label>{{ 'navigation.new_training' | translate }}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="past-trainings" (click)="goToPastTrainings()">
            <ion-icon name="analytics-sharp"></ion-icon>
            <ion-label>{{ 'navigation.past_trainings' | translate }}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="training-splits">
            <ion-icon name="fitness-sharp"></ion-icon>
            <ion-label>{{ 'navigation.training_splits' | translate }}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
