<form
    *ngFor="let group of form.controls; let i = index"
    class="form"
    [formGroup]="group">
    <ion-card class="wrapper">
        <ng-container formGroupName="exerciseData">
            <ion-grid>
                <ion-row
                    class="ion-text-center exercise-row"
                    [class.exercise-name-required]="form.controls[i].controls.exerciseData.controls.name.errors?.required &&
                        (form.controls[i].controls.exerciseData.controls.name.touched ||
                        form.controls[i].controls.exerciseData.controls.name.dirty ||
                            isSubmitted) &&
                        !isLoading">
                    <ion-col size="10">
                        <ion-item fill="outline">
                            <ion-label position="floating">{{
                                'training.new_training.pick_exercise' | translate
                            }}</ion-label>
                            <ion-select
                                *ngIf="isExercisePicker$ | async"
                                #exercisePicker
                                class="exercise-picker"
                                interface="popover"
                                formControlName="name"
                                (ionChange)="onExerciseNameChange(i, exercisePicker)"
                            >
                                <ion-select-option
                                    *ngFor="
                                        let exercise of exercisesState$ | async | filterAvailableExercises: i
                                    "
                                    [value]="exercise.name"
                                >
                                    {{ exercise.name | translate }}
                                </ion-select-option>
                            </ion-select>
                            <ion-note
                                *ngIf="
                                form.controls[i].controls.exerciseData.controls.name.errors?.required &&
                                    (form.controls[i].controls.exerciseData.controls.name.touched ||
                                    form.controls[i].controls.exerciseData.controls.name.dirty ||
                                        isSubmitted) &&
                                    !isLoading
                                "
                                slot="error"
                            >
                                {{ 'training.new_training.errors.exercise_name_required' | translate }}
                            </ion-note>
                        </ion-item>
                        <ion-note
                            *ngIf="
                                form.errors?.duplicateExerciseName &&
                                form.errors?.duplicateExerciseName ===
                                form.controls[i].controls.exerciseData.controls.name.value &&
                                !isLoading
                            "
                            class="error"
                        >
                            {{ 'training.new_training.errors.exercise_name_duplicate' | translate }}
                        </ion-note>
                    </ion-col>
                    <ion-col size="2">
                        <ion-icon
                            class="delete-exercise-icon"
                            name="trash-outline"
                            color="primary"
                            (click)="deleteExercise(i, form.controls[i].controls.exerciseData.controls.name.value)"
                        ></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ng-container>
        <bl-set
            formControlName="sets"
            [editTrainingData]="editTrainingData"
            [indexExercise]="i"
            [bodyweightControl]="bodyweightControl"
            [exerciseControl]="form.controls[i].controls.exerciseData.controls.name"
            [availableSetCategoriesControl]="form.controls[i].controls.exerciseData.controls.availableSetCategories"
            [selectedSetCategoriesControl]="form.controls[i].controls.exerciseData.controls.selectedSetCategories"
            [isSubmitted]="isSubmitted"
            [editMode]="editMode"
            [isLoading]="isLoading"
            (selectedCategoriesChanged)="onSelectedCategoriesChanged($event, i)"
        ></bl-set>
    </ion-card>
</form>

<ion-grid>
    <ion-row class="actions">
        <ion-col>
            <ion-button
                class="add-exercise-btn"
                type="button"
                color="primary"
                [disabled]="!(isAddExerciseAllowed$ | async) || isApiLoading"
                (click)="addExercise(undefined, $event)"
            >
                {{ 'training.new_training.buttons.add_exercise' | translate }}
            </ion-button>
        </ion-col>
        <ng-content></ng-content>
    </ion-row>
</ion-grid>
