
.form {
    padding: 0 10px;

    .wrapper {
        margin: 15px 0 0 0;

        .exercise-name-required {
            align-items: center;
        }

        .remove-item {
            display: none;
        }

        .exercise-name-error {
            display: block;
        }
    }
}

.md .exercise-grid {
    padding-left: 10px;
}

ion-grid:first-of-type {
    padding-top: 10px;
    padding-bottom: 0;
}

::ng-deep .exercise-picker {
    .selected-items {
        max-width: 250px;
    }
}

.delete-exercise-icon {
    width: 30px;
    height: 30px;
}

.md .delete-exercise-col {
    align-self: flex-end;
}

.md .exercise-row {
    align-items: center;
}

.ios .exercise-row {
    align-items: flex-end;
}

.ios .actions {
    .add-exercise-btn {
        margin-left: 20px;
    }
}

.md .actions {
    flex-wrap: nowrap;
}
