<ng-container *ngIf="(preferences$ | async) as preferences">
    <ion-list>
        <ion-item
            *ngFor="let language of languageData"
            lines="none"
            [disabled]="preferences.LanguageCode === language.LanguageCode"
            (click)="changeLanguage(language.LanguageCode)">
            <ion-img [src]="language.ImageUrl"></ion-img>
            <ion-text class="language-txt">
                {{ language.LanguageName | translate }}
            </ion-text>
            <ion-icon
                *ngIf="preferences.LanguageCode === language.LanguageCode"
                name="checkmark-outline"
                class="checkmark"
                slot="end"></ion-icon>
        </ion-item>
    </ion-list>
</ng-container>
