.training-item {
    height: 230px;
    position: relative;

    &:hover,
    &:active {
        background: var(--ion-color-light);
    }

    ion-card-header {
        padding-bottom: 0;
        height: 53px;

        .day-name {
            display: inline-block;
            line-height: 24px;
            font-size: 24px;
            color: var(--ion-color-primary);
            margin-right: 3px;
        }

        .day-date {
            display: inline-block;
            line-height: 24px;
            font-size: 24px;
            font-weight: 400;
        }

        ion-card-title {
            white-space: nowrap;
        }
    }

    &--content {
        position: absolute;
        width: 100%;
        height: calc(100% - 53px);
        padding: 0;

        .bodyweight,
        .created-at {
            display: flex;
            flex-direction: column;
            white-space: nowrap;

            &--key {
                color: var(--ion-color-primary);
                justify-content: center;
                font-size: 16px;
            }

            &--value {
                justify-content: center;
                font-size: 16px;
                color: var(--ion-color-dark);
            }

            &--no-bodyweight {
                margin: 0 auto;
            }
        }

        .exercise-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            &-no-dots {
                margin-bottom: 20px;
            }

            .exercise-name {
                max-width: 90%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 16px;
                color: var(--ion-color-dark);
            }

            .exercise-dots {
                color: var(--ion-color-medium-shade);
            }
        }

        .actions {
            display: flex;
            justify-content: flex-end;
            border-top: 1px solid var(--ion-color-light-periwinkle);
            height: 40px;
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }
}

@media (min-width: 640px) {
    ion-card {
        margin-right: 5px;
        width: 325px;

        ion-card-content {
            min-height: calc(100% - 40px);
            position: relative;

            .actions {
                position: absolute;
                bottom: 0;
                width: 100%;
            }
        }
    }
}
