@import '../../../../../styles/default-pallette';

.main-section {
    margin: 64px 16px 0 16px;

    .spinner {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .error-wrapper {
        width: 250px;
        margin: 5rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .error-image {
            width: 250px;
            height: 200px;
        }

        .error-title {
            font-size: 18px;
            margin-bottom: 5px;
            text-align: center;
        }

        .error-description {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 15px;
            line-height: 24px;
            text-align: center;
            color: $blue-grey;
        }
    }

    .search-no-result-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        .search-not-found-img {
            width: 150px;
            height: 150px;
        }

        .search-not-found-title {
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            margin: 20px 0;
        }

        .search-not-found-description {
            font-size: 14px;
            color: $blue-grey;
            text-align: center;
        }
    }

    .card-info-wrapper {
        padding: 10px 16px;
        border: 2px solid $army-green;

        .header-title {
            font-size: 20px;
            padding-bottom: 10px;
            text-align: center;
            font-family: $poppins;
        }

        .footer {
            display: flex;
            justify-content: center;
            width: 100%;

            .food-subtitle {
                font-size: 16px;
                text-align: center;
                color: black;
                font-family: $poppins;

                &--txt {
                    color: $army-green;
                }
            }
        }
    }

    .training-item-wrapper {
        display: block;
        margin: 10px 0;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $light-periwinkle;
            border-radius: 6px;
        }
    }

    .no-trainings {
        margin: 0 1rem 1rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            font-family: $poppins;
            font-size: 18px;
            font-weight: normal;
            text-align: center;
        }
    }

    .training-paginator {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 5px;
        border-radius: 4px;
        border: 2px solid $army-green;
        margin: auto;
        padding: 5px 0;
        position: fixed;
        bottom: 0;
        width: 90%;

        &--label {
            font-size: 15px;

            &-count {
                color: $army-green;
            }
        }

        &--controls-wrapper {
            display: flex;
            align-items: center;
        }

        &--arrow-wrapper {
            display: flex;
            column-gap: 10px;

            .mat-raised-button {
                min-width: 0;
                padding: 0 10px;
            }
        }

        &--previous:not([disabled]):hover,
        &--previous:not([disabled]):active,
        &--next:not([disabled]):hover,
        &--next:not([disabled]):active {
            background: $light-blue;
        }

        &--icon {
            color: $army-green;
        }

        &--page-size-wrapper {
            width: 45px;
            margin-right: 20px;
            padding: 6px 0;
            overflow: hidden;
            border: none;
            border-radius: 4px;
            position: relative;
            box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);

            &:after {
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid $army-green;
                position: absolute;
                top: 40%;
                right: 5px;
                content: "";
                z-index: 98;
            }
        }

        &--page-size {
            width: 65px;
            border: 0;
            position: relative;
            z-index: 99;
            background: none;
            cursor: pointer;
            font-family: $poppins;

            &:focus-visible {
                outline: none;
            }
        }
    }
}

@media (min-width: 640px) {

    .main-section {
        display: flex;
        flex-direction: column;
        align-items: center;

        .card-info-wrapper {
            margin-top: 0.5rem;
            width: 850px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .training-item-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            column-gap: 18px;
            max-height: 400px;
            width: 850px;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 4px;
            }
        }

        .training-paginator {
            width: 850px;
            column-gap: 20px;
            justify-content: flex-end;
            flex-direction: row;
            position: relative;

            &--arrow-wrapper {
                margin-right: 15px;
                order: 2;
            }

            &--controls-wrapper {
                order: 2;
            }
        }
    }
}
