@import '../../../../../styles/default-pallette';

.main-section {
    margin: 64px 16px 0 16px;

    .card-info-wrapper {
        border: 2px solid $army-green;

        .week-title {
            font-size: 20px;
            padding-bottom: 10px;
            text-align: center;
            font-family: $poppins;

            &--txt {
                color: $army-green;
            }
        }

        .footer {
            display: flex;
            justify-content: center;
            width: 100%;

            .food-subtitle {
                font-size: 16px;
                text-align: center;
                color: black;
                font-family: $poppins;

                &--txt {
                    color: $army-green;
                }
            }
        }
    }

    .training-item-wrapper {
        display: block;
        margin: 10px 0;
        max-height: 400px;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $light-periwinkle;
            border-radius: 6px;
        }
    }

    .training-paginator {
        border-radius: 4px;
        border: 2px solid $army-green;
        height: 50px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;

        &--label {
            font-size: 15px;

            &-count {
                color: $army-green;
            }
        }

        &--button-wrapper {
            display: flex;
            column-gap: 10px;
        }

        &--previous:not([disabled]):hover,
        &--previous:not([disabled]):active,
        &--next:not([disabled]):hover,
        &--next:not([disabled]):active {
            background: $light-blue;
        }

        &--icon {
            color: $army-green;
        }
    }
}

.no-trainings {
    margin: 0 1rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
        font-family: $poppins;
        font-size: 18px;
        font-weight: normal;
        text-align: center;
    }
}

.spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
}

.error-wrapper {
    width: 250px;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .error-image {
        width: 250px;
        height: 200px;
    }

    .error-title {
        font-size: 18px;
        margin-bottom: 5px;
        text-align: center;
    }

    .error-description {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        color: $blue-grey;
    }
}

@media (min-width: 640px) {

    .main-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-info-wrapper {
        margin-top: 0.5rem;
        width: 850px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .training-item-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        column-gap: 18px;
        width: 850px;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 4px;
        }
    }

    .training-paginator {
        width: 850px;
        column-gap: 20px;
        justify-content: flex-end;

        &--button-wrapper {
            margin-right: 15px;
        }
    }
}
