<mat-spinner
    *ngIf="isLoading"
    class="spinner"
    [diameter]="50"></mat-spinner>
<ng-container *ngIf="!isLoading && !isError">
    <section class="main-section">
        <bl-past-trainings-filters></bl-past-trainings-filters>
        <mat-card class="card-info-wrapper">
            <mat-card-title class="week-title">
                <strong class="week-title--txt">
                    {{ 'common.week' | translate }}
                </strong>
                <span>{{ ' (' + (startDate | date: 'dd.MM.yyyy') + ' - ' + (endDate | date: 'dd.MM.yyyy') + ')' }}</span>
            </mat-card-title>
            <div class="footer">
                <div class="food-subtitle">
                    <strong class="food-subtitle--txt">
                        {{ ('common.food' | translate) + ': ' }}
                    </strong>
                    <span>{{ food + ' ' + ('common.kcal' | translate) }}</span>
                </div>
            </div>
        </mat-card>
        <div
            class="training-item-wrapper"
            [class.no-trainings]="trainingsPerPage === 0"
            *ngIf="trainingsPerPage > 0; else noTrainings">
            <bl-training-item
                *ngFor="let training of (trainings$ | async)"
                [training]="training"></bl-training-item>
        </div>
    </section>
    <div
        class="training-paginator">
        <span
            class="training-paginator--label">
            {{ 'training.past_trainings.training_number' | translate }}
            <strong class="training-paginator--label-count">
                {{ trainingsPerPage }}
            </strong>
        </span>
        <div
            class="training-paginator--button-wrapper">
            <div
                matTooltipPosition="above"
                matTooltipClass="tooltip"
                [matTooltip]="'training.past_trainings.buttons.previous_week' | translate">
                <button
                    mat-raised-button
                    type="button"
                    class="training-paginator--previous"
                    (click)="loadWeekTraining('Previous week')">
                    <mat-icon class="training-paginator--icon">navigate_before</mat-icon>
                </button>
            </div>
            <div
                matTooltipPosition="above"
                [matTooltip]="setNextWeekTooltip() | async"
                [matTooltipClass]="isNextWeekDisabled ? 'tooltip-error' : 'tooltip'">
                <button
                    mat-raised-button
                    type="button"
                    class="training-paginator--next"
                    [disabled]="isNextWeekDisabled"
                    (click)="loadWeekTraining('Next week')">
                    <mat-icon class="training-paginator--icon">navigate_next</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <ng-template #noTrainings>
        <section class="no-trainings">
            <h1 class="no-trainings-title">
                {{ 'training.past_trainings.no_trainings' | translate }}
            </h1>
            <button
                mat-raised-button
                class="no-trainings-button"
                type="button"
                routerLink="/new-training"
                color="primary">
                {{ 'training.past_trainings.log_training' | translate }}
            </button>
        </section>
    </ng-template>
</ng-container>

<ng-container *ngIf="!isLoading && isError">
    <div class="error-wrapper">
        <img
            class="error-image"
            src="../../../../assets/svgs/error1.svg">
        <h3 class="error-title">
            {{ 'training.past_trainings.errors.past_trainings_error_title' | translate }}
        </h3>
        <span class="error-description">
            {{ 'training.past_trainings.errors.past_trainings_error_description' | translate }}
        </span>
        <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="tryAgain()">
            {{ 'common.try_again' | translate }}
        </button>
    </div>
</ng-container>
