
ion-content {
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 5px;
}

.error-wrapper {
    width: 250px;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .error-image {
        width: 250px;
        height: 200px;
    }

    .error-title {
        font-size: 18px;
        margin-bottom: 5px;
        text-align: center;
    }

    .error-description {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        color: var(--ion-color-medium);
    }
}

ion-list {
    margin-top: 10px;

    .search-not-found-img {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }

    .search-not-found-title {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        margin: 20px 0;
    }

    .search-not-found-description {
        font-size: 14px;
        color: var(--ion-color-medium);
        text-align: center;
    }
}

.card-info-wrapper {
    border: 2px solid var(--ion-color-primary);
    box-shadow: var(--ion-box-shadow);

    .header-title {
        font-size: 20px;

        ::ng-deep &--key {
            color: var(--ion-color-primary);
        }
    }

    .food-key {
        font-size: 16px;
        color: var(--ion-color-primary);
    }

    .food-value {
        font-size: 16px;
        color: black;
    }
}

.training-item-wrapper {
    display: block;
    margin: 10px 0;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #dedfe1;
        border-radius: 6px;
    }
}

.no-trainings {
    margin: 0 1rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
        font-size: 18px;
        font-weight: normal;
        text-align: center;
    }
}

@media (min-width: 640px) {

    .card-info-wrapper {
        margin-top: 0.5rem;
        width: 850px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .training-item-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        column-gap: 18px;
        max-height: 400px;
        width: 850px;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 4px;
        }
    }
}
