<ng-container *ngIf="pastTrainings$ | async as pastTrainings">
    <section class="main-section">
        <ng-container *ngIf="pastTrainings?.IsError; else valueOrLoading">
            <div class="error-wrapper">
                <img
                    class="error-image"
                    src="../../../../assets/svgs/error1.svg">
                <h3 class="error-title">
                    {{ 'training.past_trainings.errors.past_trainings_error_title' | translate }}
                </h3>
                <span class="error-description">
                    {{ 'training.past_trainings.errors.past_trainings_error_description' | translate }}
                </span>
                <button
                    mat-raised-button
                    color="primary"
                    type="button"
                    (click)="tryAgain()">
                    {{ 'common.try_again' | translate }}
                </button>
            </div>
        </ng-container>
        <ng-template #valueOrLoading>
            <bl-past-trainings-filters (trainingEmitted)="searchEmitted($event)"></bl-past-trainings-filters>
            <ng-container *ngIf="pastTrainings?.IsLoading; else value">
                <mat-spinner
                    class="spinner"
                    [diameter]="spinnerSize"></mat-spinner>
            </ng-container>
            <ng-template #value>
                <ng-container *ngIf="(isSearch$ | async) && pastTrainings?.Value?.TotalCount === 0; else otherCases">
                    <div class="search-no-result-wrapper">
                        <img
                            class="search-not-found-img"
                            src="../../../../assets/svgs/not-found.svg">
                        <span class="search-not-found-title">
                            {{ 'training.past_trainings.filters.search_no_result_title' | translate }}
                        </span>
                        <span class="search-not-found-description">
                            {{ 'training.past_trainings.filters.search_no_result_description' | translate }}
                        </span>
                    </div>
                </ng-container>
                <ng-template #otherCases>
                    <mat-card class="card-info-wrapper">
                        <mat-card-title class="header-title">
                            <div
                                #timePeriod
                                [innerHTML]="setTimePeriod(pastTrainings.Value?.Results?.Dates) | async"></div>
                        </mat-card-title>
                        <div class="footer">
                            <div class="food-subtitle">
                                <strong class="food-subtitle--txt">
                                    {{ ('common.food' | translate) + ': ' }}
                                </strong>
                                <span>{{ food + ' ' + ('common.kcal' | translate) }}</span>
                            </div>
                        </div>
                    </mat-card>
                    <div
                        *ngIf="pastTrainings.Value?.TotalCount > 0; else noTrainings"
                        #itemWrapper
                        class="training-item-wrapper"
                        [class.no-trainings]="pastTrainings.Value?.TotalCount === 0">
                        <bl-training-item
                            *ngFor="let training of pastTrainings.Value?.Results?.Trainings"
                            [training]="training"></bl-training-item>
                    </div>
                    <ng-template #noTrainings>
                        <section class="no-trainings">
                            <ng-container *ngIf="!(isSearch$ | async) && pastTrainings.Value?.TotalCount === 0;">
                                <h1 class="no-trainings-title">
                                    {{ 'training.past_trainings.no_trainings' | translate }}
                                </h1>
                                <button
                                    mat-raised-button
                                    class="no-trainings-button"
                                    type="button"
                                    routerLink="/training/new-training"
                                    color="primary">
                                    {{ 'training.past_trainings.log_training' | translate }}
                                </button>
                            </ng-container>
                        </section>
                    </ng-template>
                    <div class="training-paginator">
                        <div class="training-paginator--arrow-wrapper">
                            <button
                                *ngIf="isPreviousPage"
                                mat-raised-button
                                type="button"
                                matTooltipPosition="above"
                                [matTooltip]="setPageTooltip((isSearch$ | async), 'First') | async"
                                [matTooltipClass]="setPageTooltipClass((isSearch$ | async), 'First')"
                                (click)="loadPage(
                                    'First',
                                    undefined,
                                    pastTrainings?.Value?.Results?.EarliestTrainingDate)">
                                <mat-icon class="training-paginator--icon">first_page</mat-icon>
                            </button>
                            <div
                                matTooltipPosition="above"
                                [matTooltip]="setPageTooltip((isSearch$ | async), 'Previous') | async"
                                [matTooltipClass]="setPageTooltipClass((isSearch$ | async), 'Previous')">
                                <button
                                    mat-raised-button
                                    type="button"
                                    class="training-paginator--previous"
                                    [disabled]="pastTrainings.IsLoading || !isPreviousPage"
                                    (click)="loadPage(
                                        'Previous',
                                        pastTrainings.Value?.Results?.Dates)">
                                    <mat-icon class="training-paginator--icon">navigate_before</mat-icon>
                                </button>
                            </div>
                            <div
                                matTooltipPosition="above"
                                [matTooltip]="setPageTooltip((isSearch$ | async), 'Next') | async"
                                [matTooltipClass]="setPageTooltipClass((isSearch$ | async), 'Next')">
                                <button
                                    mat-raised-button
                                    type="button"
                                    class="training-paginator--next"
                                    [disabled]="pastTrainings.IsLoading || !isNextPage"
                                    (click)="loadPage(
                                        'Next',
                                        pastTrainings.Value?.Results?.Dates)">
                                    <mat-icon class="training-paginator--icon">navigate_next</mat-icon>
                                </button>
                            </div>
                            <button
                                *ngIf="isNextPage"
                                mat-raised-button
                                type="button"
                                matTooltipPosition="above"
                                [matTooltip]="setPageTooltip((isSearch$ | async), 'Last') | async"
                                [matTooltipClass]="setPageTooltipClass((isSearch$ | async), 'Last')"
                                (click)="loadPage('Last')">
                                <mat-icon class="training-paginator--icon">last_page</mat-icon>
                            </button>
                        </div>
                        <span class="training-paginator--label">
                            {{ 'training.past_trainings.training_number' | translate }}
                            <strong class="training-paginator--label-count">
                                {{ pastTrainings.Value?.TotalCount }}
                            </strong>
                        </span>
                    </div>
                </ng-template>
            </ng-template>
        </ng-template>
    </section>
</ng-container>
