<ion-header>
    <ion-toolbar>
        <ion-buttons slot="primary">
            <ion-button (click)="onCancel()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">{{ 'training.new_training.buttons.delete_exercise' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-text-center">
    <ion-text class="title">{{ title$ | async }}</ion-text>
    <ion-text class="created-at-key">{{ 'training.past_trainings.created_at' | translate }}</ion-text>
    <ion-text class="created-at-value">
        {{ dateCreated$ | async }}
        <span class="dot"></span>
        <span class="time">{{ ' ' + timeCreated }}</span>
    </ion-text>
    <div class="exercises-wrapper">
        <span class="exercises-key">{{ 'common.exercises' | translate }}</span>
        <strong *ngFor="let exercise of training.exercises" class="exercises-value">
            {{ exercise.exerciseData.name | translate }}
        </strong>
    </div>
    <ion-button class="delete-btn" color="primary" (click)="deleteTraining()">
        {{ 'common.actions.delete' | translate }}
    </ion-button>
</ion-content>
