<ion-header>
    <ion-toolbar class="toolbar-title">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ 'navigation.login' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col sizeSm="4">
                <ion-card>
                    <ion-card-content>
                        <form
                            [formGroup]="form"
                            (ngSubmit)="onSubmit()"
                            (keydown.enter)="onSubmit()">
                            <ion-grid>
                                <ion-row>
                                    <ion-col>
                                        <ion-item>
                                            <ion-label position="floating">
                                                {{ 'auth.email' | translate }}
                                            </ion-label>
                                            <ion-input
                                                ionFocus
                                                [duration]="focusDuration"
                                                type="email"
                                                formControlName="email"></ion-input>
                                            <ion-note
                                                *ngIf="form.get('email').errors?.required &&
                                                    (form.get('email').dirty || form.get('email').touched)"
                                                slot="error">
                                                {{ 'auth.errors.email_required' | translate }}
                                            </ion-note>
                                            <ion-note
                                                *ngIf="form.get('email').errors?.email &&
                                                    !form.get('email').errors?.required"
                                                slot="error">
                                                {{ 'auth.errors.invalid_email' | translate }}
                                            </ion-note>
                                        </ion-item>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                        <ion-item>
                                            <ion-label position="floating">
                                                {{ 'auth.password' | translate }}
                                            </ion-label>
                                            <ion-input
                                                type="password"
                                                formControlName="password"></ion-input>
                                            <ion-note
                                                *ngIf="form.get('password').errors?.required &&
                                                    (form.get('password').dirty || form.get('password').touched)"
                                                slot="error">
                                                {{ 'auth.errors.password_required' | translate }}
                                            </ion-note>
                                            <ion-note
                                                *ngIf="form.get('password').errors?.minlength
                                                    || form.get('password').errors?.maxlength"
                                                slot="error">
                                                {{ 'auth.errors.password_length' | translate }}
                                            </ion-note>
                                        </ion-item>
                                        <ion-note
                                            *ngIf="form.errors?.passwordFitsEmail
                                                && !form.get('password').errors?.required
                                                && !form.get('password').errors?.minlength
                                                && !form.get('password').errors?.maxlength"
                                            class="error">
                                            {{ 'auth.errors.password_wrong_email' | translate }}
                                        </ion-note>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col class="ion-text-center">
                                        <ion-button
                                            class="submit"
                                            type="submit"
                                            color="primary"
                                            [disabled]="!form.valid || isLoading">
                                            {{ 'auth.login' | translate }}
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="ion-text-center">
                                    <ion-col>
                                        <ion-note class="no_account_message">
                                            {{ 'auth.no_account_message' | translate }}
                                            <a
                                                class="no-account-link"
                                                routerLink="/auth/signup">
                                                {{ 'auth.signup_link' | translate }}
                                            </a>
                                            {{ 'common.here' | translate }}
                                        </ion-note>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </form>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

