@import '../../../../../styles/default-pallette.scss';

span:not(:last-child) {
    font-size: 11px;
    color: $dark-red;
}

.spinner {
    margin: 80% auto;
}

.submit-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.no_account_message {
    font-size: 12px;
    color: $blue-grey;
    display: inline-block;
    margin-top: 15px;
    padding-bottom: 16px;
}

.no-account-link {
    text-decoration: none;
    font-weight: bold;
    color: $blue-grey;
    cursor: pointer;
}
