<div class="wrapper">
    <form
        class="main-form"
        [formGroup]="form"
        (ngSubmit)="onSubmit()">
        <mat-form-field
            class="main-form-field"
            appearance="fill">
            <mat-label class="label">{{ 'auth.email' | translate }}</mat-label>
            <input
                matInput
                type="email"
                formControlName="email"
                #emailRef>
            <mat-error
                class="error"
                *ngIf="accessFormData('email').errors?.required">
                {{ 'auth.errors.email_required' | translate }}
            </mat-error>
            <mat-error
                class="error"
                *ngIf="accessFormData('email').errors?.email
                    && !accessFormData('email').errors?.required">
                {{ 'auth.errors.invalid_email' | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field
            class="main-form-field"
            appearance="fill">
            <mat-label class="label">{{ 'auth.password' | translate }}</mat-label>
            <input
                #inputPassword
                matInput
                type="password"
                formControlName="password">
            <mat-hint>{{ inputPassword.value?.length || 0 }} / 6</mat-hint>
            <mat-error
                class="error"
                *ngIf="accessFormData('password').errors?.required">
                {{ 'auth.errors.password_required' | translate }}
            </mat-error>
            <mat-error
                class="error"
                *ngIf="accessFormData('password').errors?.minlength ||
                    accessFormData('password').errors?.maxlength">
                {{ 'auth.errors.password_length' | translate }}
            </mat-error>
        </mat-form-field>
        <span
            class="error-custom"
            *ngIf="form.errors?.passwordFitsEmail
                && !accessFormData('password').errors?.required
                && !accessFormData('password').errors?.minlength
                && !accessFormData('password').errors?.maxlength">
            {{ 'auth.errors.password_wrong_email' | translate }}
        </span>
        <button
            class="submit"
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="!form.valid">
            {{ 'auth.login' | translate }}
        </button>
    </form>
    <span class="no_account_message">
        {{ 'auth.no_account_message' | translate }}
        <a
            class="no-account-link"
            routerLink="/signup">
            {{ 'auth.signup_link' | translate }}
        </a>
        {{ 'common.here' | translate }}
    </span>
</div>
