@import '../../../../../styles/default-pallette.scss';

.training-paginator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 5px;
    border-radius: 4px;
    border: 2px solid $army-green;
    margin: auto;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 90%;

    &--controls-wrapper {
        display: flex;
        align-items: center;
    }

    &--arrow-wrapper {
        display: flex;
        column-gap: 10px;

        .mat-raised-button {
            min-width: 0;
            padding: 0 10px;
        }
    }

    &--previous:not([disabled]):hover,
    &--previous:not([disabled]):active,
    &--next:not([disabled]):hover,
    &--next:not([disabled]):active {
        background: $light-blue;
    }

    &--icon {
        color: $army-green;
    }

    &--page-size-wrapper {
        display: block;
        width: 45px;
        margin-right: 20px;
        padding: 6px 0;
        overflow: hidden;
        border: none;
        border-radius: 4px;
        position: relative;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);

        &:after {
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid $army-green;
            position: absolute;
            top: 40%;
            right: 5px;
            content: "";
            z-index: 98;
        }
    }

    &--page-size-not-visible {
        display: none;
    }

    &--page-size {
        width: 65px;
        border: 0;
        position: relative;
        top: -1px;
        z-index: 99;
        background: none;
        cursor: pointer;
        font-family: $poppins;
        padding-left: 8px;

        &:focus-visible {
            outline: none;
        }
    }

    &--label {
        font-size: 15px;
    }
}

@media (min-width: 640px) {

    .training-paginator {
        width: 850px;
        column-gap: 20px;
        justify-content: flex-end;
        flex-direction: row;
        position: relative;

        &--arrow-wrapper {
            margin-right: 15px;
        }

        &--controls-wrapper {
            order: 2;
        }

        &--label {
            margin-right: auto;
            margin-left: 15px;
        }
    }
}
