<ion-grid>
    <ion-row>
        <ion-col *ngIf="isSearch">
            <select
                class="page-size"
                [(ngModel)]="size"
                (change)="loadPage()">
                <option
                    *ngFor="let size of pageSizeOptions"
                    [value]="size">
                    {{ size }}
                </option>
            </select>
        </ion-col>
        <ion-col *ngIf="isPreviousPage">
            <ion-button
                class="first"
                type="button"
                color="primary"
                (click)="loadPage(
                    'First',
                    undefined,
                    data?.Value?.Results?.EarliestTrainingDate)">
                <ion-icon name="play-back-sharp"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button
                type="button"
                class="previous"
                color="primary"
                [disabled]="data?.IsLoading || !isPreviousPage"
                (click)="loadPage(
                    'Previous',
                    data.Value?.Results?.Dates)">
                <ion-icon name="chevron-back-sharp"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button
                type="button"
                class="next"
                color="primary"
                [disabled]="data.IsLoading || !isNextPage"
                (click)="loadPage(
                    'Next',
                    data.Value?.Results?.Dates)">
                <ion-icon name="chevron-forward-sharp"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col *ngIf="isNextPage">
            <ion-button
                class="last"
                color="primary"
                type="button"
                (click)="loadPage('Last', undefined, undefined, data?.Value?.TotalPages)">
                <ion-icon name="play-forward-sharp"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <div
                *ngIf="data?.Value?.TotalPages"
                class="label"
                [innerHTML]="setPageText(data.Value.TotalPages) | async"></div>
        </ion-col>
    </ion-row>
</ion-grid>
