
ion-grid {
    &:first-of-type {
        padding-bottom: 0;
    }

    &:not(:first-of-type) {
        padding-top: 0;
    }
}

.ion-item-error {
    --highlight-background: var(--ion-color-danger);
}

.ion-label-error {
    color: var(--ion-color-danger) !important;
}

.set-row {
    align-items: flex-start;

    ::ng-deep .weight-lifted-input input {
        height: 30px;
    }

    ::ng-deep .reps-input input {
        height: 30px;
    }
}

.set-saved-msg {
    color: var(--ion-color-primary);
    font-weight: bold;
    font-size: 14px;
}

.delete-set-col {
    margin-top: 5px;

    .delete-set-icon {
        position: absolute;
        width: 30px;
        height: 30px;
    }
}

.skeleton {
    &--set-constituent {
        width: 122px;
        height: 57px;
        border-radius: 4px;
    }

    &--delete-set {
        width: 30px;
        height: 30px;
        border-radius: 4px;
    }
}
