
ion-grid {
    &:first-of-type {
        padding-bottom: 0;
    }

    &:not(:first-of-type) {
        padding-top: 0;
    }
}

.ion-item-error {
    --highlight-background: var(--ion-color-danger);
}

.ion-label-error {
    color: var(--ion-color-danger) !important;
}

.set-row {
    align-items: flex-start;
}

.set-saved-msg {
    color: var(--ion-color-primary);
    font-weight: bold;
    font-size: 14px;
}

.delete-set-col {
    margin-top: 10px;

    ion-icon {
        position: absolute;
    }
}
