<ion-header>
    <ion-toolbar class="toolbar-title">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ 'navigation.training_splits' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="trainingSplits$ | async as state" class="content-wrapper">
        <bl-training-splits-search (createTrainingSplitEvent)="createTrainingSplit()"></bl-training-splits-search>
        <ng-container *ngIf="state.IsLoading">
            <ion-spinner
                class="ion-spinner-class"
                name="crescent"
                color="primary"
            ></ion-spinner>
        </ng-container>
        <ng-container *ngIf="state.IsError">
            <bl-error
                [imagePath]="'../../../../assets/svgs/error1.svg'"
                [title]="'training.training_split.errors.error_get_training_splits'"></bl-error>
        </ng-container>
        <ng-container *ngIf="state.Value">
            <div
                [class.no-training-splits]="!state.Value.length">
                <ng-container *ngIf="state.Value.length; else emptyScreen">
                    <bl-training-split *ngFor="let split of state.Value; let first = first" [trainingSplit]="split" [isFirst]="first"></bl-training-split>
                </ng-container>
                <ng-template #emptyScreen>
                    <span class="empty-screen-txt">{{ 'training.training_split.empty_screen' | translate }}</span>
                </ng-template>
            </div>
        </ng-container>
    </div>
</ion-content>
