<ion-header>
    <ion-toolbar class="toolbar-title">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ 'navigation.training_splits' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="search-container">
        <bl-training-splits-search
            (createTrainingSplitEvent)="createTrainingSplit()"></bl-training-splits-search>
    </div>
    <div
        *ngIf="trainingSplits$ | async as trainingSplits"
        class="list-container"
        [class.no-training-splits]="!trainingSplits.length">
        <ng-container *ngIf="trainingSplits.length; else emptyScreen">
            <bl-training-split *ngFor="let split of trainingSplits" [trainingSplit]="split"></bl-training-split>
        </ng-container>
        <ng-template #emptyScreen>
            <span class="empty-screen-txt">{{ 'training.training_split.empty_screen' | translate }}</span>
        </ng-template>
    </div>
</ion-content>
