<form [formGroup]="form">
    <ion-grid class="set-grid">
        <ion-row
            class="ion-text-center set-row"
            [class.ion-justify-content-center]="!form.controls.weight">
            <ion-col
                *ngIf="form.controls.weight"
                size="5">
                <ion-item>
                    <ion-label class="ion-label" position="floating">
                        {{ 'training.new_training.weight' | translate }}
                    </ion-label>
                    <ion-input
                        #weightEl
                        type="number"
                        class="set-constituent-input"
                        formControlName="weight"
                        (ionChange)="onChangeSets()"
                        (keydown.backspace)="onSetConstituentKeydown('weight')"
                    >
                    </ion-input>
                    <ion-text
                        class="set-constituent-input--unit"
                        slot="end"
                        [class.invalid-weight]="form.controls.weight.invalid"
                    >
                        {{ weightEl?.value ? preferences.weightUnit : '' }}
                    </ion-text>
                    <ion-text
                        *ngIf="
                            form.controls.weight.errors?.min &&
                            !isLoading
                        "
                        slot="error"
                    >
                        {{ 'training.new_training.errors.weight_min' | translate }}
                    </ion-text>
                    <ion-text
                        *ngIf="
                            form.controls.weight.errors?.max &&
                            !isLoading
                        "
                        slot="error"
                    >
                        {{ 'training.new_training.errors.weight_max' | translate }}
                    </ion-text>
                    <ion-text
                        *ngIf="
                            form.controls.weight.errors?.required &&
                            (isSubmitted ||
                                form.controls.weight.touched) &&
                            !isLoading
                        "
                        slot="error"
                    >
                        {{ 'training.new_training.errors.weight_required' | translate }}
                    </ion-text>
                </ion-item>
            </ion-col>
            <ion-col
                *ngIf="form.controls.reps"
                size="5">
                <ion-item>
                    <ion-label class="ion-label" position="floating">
                        {{ 'training.new_training.reps' | translate }}
                    </ion-label>
                    <ion-input
                        #repsEl
                        type="number"
                        class="set-constituent-input"
                        formControlName="reps"
                        (ionChange)="onChangeSets()"
                        (keydown.backspace)="onSetConstituentKeydown('reps')"
                    ></ion-input>
                    <ion-text
                        *ngIf="
                            form.controls.reps.errors?.min &&
                            !isLoading
                        "
                        slot="error"
                    >
                        {{ 'training.new_training.errors.reps_min' | translate }}
                    </ion-text>
                    <ion-text
                        *ngIf="
                            form.controls.reps.errors?.max &&
                            !isLoading
                        "
                        slot="error"
                    >
                        {{ 'training.new_training.errors.reps_max' | translate }}
                    </ion-text>
                    <ion-text
                        *ngIf="
                            form.controls.reps.errors?.required &&
                            (isSubmitted || form.controls.reps.touched) &&
                            !isLoading
                        "
                        slot="error"
                    >
                        {{ 'training.new_training.errors.reps_required' | translate }}
                    </ion-text>
                </ion-item>
            </ion-col>
            <ion-col *ngIf="form.controls.duration" size="5">
                <ion-item>
                    <ion-label class="ion-label" position="floating">
                        {{ 'training.new_training.duration' | translate }}
                    </ion-label>
                    <ion-input
                        #durationEl
                        type="number"
                        class="set-constituent-input"
                        formControlName="duration"
                        (ionChange)="onChangeSets()"
                        (keydown.backspace)="onSetConstituentKeydown('duration')"
                    ></ion-input>
                    <ion-text
                        *ngIf="
                            form.controls.duration.errors?.min &&
                            !isLoading
                        "
                        slot="error"
                    >
                        {{ 'training.new_training.errors.duration_min' | translate }}
                    </ion-text>
                    <ion-text
                        *ngIf="
                            form.controls.duration.errors?.required &&
                            (isSubmitted || form.controls.duration.touched) &&
                            !isLoading
                        "
                        slot="error"
                    >
                        {{ 'training.new_training.errors.duration_required' | translate }}
                    </ion-text>
                </ion-item>
            </ion-col>
            <ion-col *ngIf="form.controls.duration" size="5">
                <ion-item>
                    <ion-label class="ion-label" position="floating">
                        {{ 'training.new_training.pick_duration_unit' | translate }}
                    </ion-label>
                    <ion-select
                        class="duration-picker"
                        interface="popover"
                        [(ngModel)]="preferences.setDurationUnit"
                        [ngModelOptions]="{ standalone: true }"
                        (ionChange)="onSetDurationChange()">
                        <ion-select-option [value]="'seconds'">
                            {{ 'common.seconds' | translate }}
                        </ion-select-option>
                        <ion-select-option [value]="'minutes'">
                            {{ 'common.minutes' | translate }}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col size="2" class="set-ctas" [class.single-set-category]="availableSetCategoriesControl.value.length === 1">
                <ion-button
                    class="button-no-background delete-set-btn"
                    type="button"
                    [disabled]="isFirstSet || isLoading"
                    (click)="deleteSet()"
                >
                    <ion-icon name="trash-sharp" color="primary" class="set-cta-icon"></ion-icon>
                </ion-button>
                <ion-button
                    *ngIf="availableSetCategoriesControl.value.length > 1"
                    class="button-no-background change-set-category"
                    type="button"
                    (click)="updateSetCategory()">
                    <ion-icon class="set-cta-icon" name="construct-sharp" color="primary"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</form>
