<ion-card>
    <ion-card-header>
        <div class="header-container">
            <div class="title-container">
                <span>{{ trainingSplit.name }}</span>
                <strong>{{ 'training.training_split.split' | translate }}</strong>
            </div>
            <div class="actions">
                <ion-icon name="pencil-sharp" color="primary" class="action"></ion-icon>
                <ion-icon name="trash-sharp" color="primary" class="action"></ion-icon>
            </div>
        </div>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
</ion-card>
