
.header-container {
    display: flex;

    .title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 5px;
        width: calc(100% - 66px);
        max-width: 215px;
        margin-right: 10px;

        & > * {
            font-size: 20px;
            line-height: 24px;
        }

        .name {
            max-width: 170px;
            text-align: center;
            color: var(--ion-color-primary);
        }
    }

    .actions {
        display: flex;
        column-gap: 10px;

        .action {
            width: 28px;
            width: 28px;
        }
    }
}
