<ion-card class="card" [class.first-card]="isFirst">
    <ion-card-header>
        <div class="header-container">
            <div class="title-container">
                <strong class="name">{{ trainingSplit.name }}</strong>
                <span>{{ 'training.training_split.split' | translate }}</span>
            </div>
            <div class="actions">
                <ion-icon name="pencil-sharp" color="primary" class="action" (click)="onEdit()"></ion-icon>
                <ion-icon name="trash-sharp" color="primary" class="action" (click)="onDelete()"></ion-icon>
                <ion-icon name="checkmark-sharp" color="primary" class="action" (click)="useTrainingSplit()"></ion-icon>
            </div>
        </div>
    </ion-card-header>
    <ion-card-content [class.training-split-content]="isUsed">
        <div class="week-frequency-text">{{ 'common.numbers.' + (trainingSplit.trainings | timesAWeek).length | translate }} {{ 'training.training_split.times_a_week' | translate }}</div>
        <div class="days-text">
            <span>{{ '(' }}</span>
            <ng-container *ngFor="let training of trainingSplit.trainings | timesAWeek; let i = index; let last = last">
                <span>{{ training.dayOfWeek | slice: 0:3 | uppercase }}</span>
                <ng-container *ngIf="last; else comma">
                    <span>{{ ')' }}</span>
                </ng-container>
                <ng-template #comma>
                    <span>{{ ', ' }}</span>
                </ng-template>
            </ng-container>
        </div>
        <div
            *ngIf="isUsed"
            class="currently-used">
            {{ 'training.training_split.currently_used' | translate }}
        </div>
    </ion-card-content>
</ion-card>
