
.header-container {
    display: flex;
    align-items: center;

    .title-container {
        display: flex;
        align-items: center;
    }

    .actions {
        display: flex;
        column-gap: 10px;

        .action {
            width: 28px;
            width: 28px;
        }
    }
}
