<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="onCancel()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ 'training.update_set_category' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-text-center">
    <ion-list>
        <ion-radio-group *ngFor="let category of setCategories" [value]="category">
            <ion-item>
                <ion-label>{{ category }}</ion-label>
                <ion-radio slot="end"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>
</ion-content>
