<mat-toolbar
    class="header__toolbar"
    color="primary">
    <!--Prikaži ovaj button samo na xs ekranima-->
    <div
        fxHide.gt-xs>
        <button
            mat-icon-button
            (click)="onToggle()"
            class="header__toolbar-button">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a class="header__title">
            {{ 'navigation.title' | translate }}
        </a>
    </div>
    <ng-container *ngIf="isAuthenticated$ | async">
        <button
            class="header__edit-button"
            *ngIf="isEditing$ | async"
            type="button"
            mat-raised-button
            (click)="goToPastTraining()">
            {{ 'navigation.buttons.edit_go_back' | translate }}
        </button>
    </ng-container>
    <!--Ovaj div se skriva na ekranima manjim od 600px (xs)-->
    <div
        fxFlex
        fxLayout
        fxLayoutAlign="flex-end"
        fxHide.xs>
        <ul class="header__nav-items">
            <li
                *ngIf="!(isAuthenticated$ | async)"
                class="header__nav-item">
                <a
                    class="header__nav-item-txt"
                    routerLink="/login">
                    {{ 'navigation.login' | translate }}
                </a>
            </li>
            <li
                *ngIf="!(isAuthenticated$ | async)"
                class="header__nav-item">
                <a
                    class="header__nav-item-txt"
                    routerLink="/signup">
                    {{ 'navigation.signup' | translate }}
                </a>
            </li>
            <li
                *ngIf="isAuthenticated$ | async"
                class="header__nav-item">
                <a
                    class="header__nav-item-txt"
                    routerLink="/new-training">
                    {{ 'navigation.new_training' | translate }}
                </a>
            </li>
            <li
                *ngIf="isAuthenticated$ | async"
                class="header__nav-item">
                <a
                    class="header__nav-item-txt"
                    (click)="goToPastTrainings()">
                    {{ 'navigation.past_trainings' | translate }}
                </a>
            </li>
            <ng-container *ngIf="(loggedUserData$ | async) as userData">
                <li
                    *ngIf="isAuthenticated$ | async"
                    class="header__nav-item">
                    <button
                        mat-button
                        [matMenuTriggerFor]="main">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <mat-menu #main="matMenu">
                        <button
                            class="header__nav-item--menu-items"
                            mat-menu-item
                            [matMenuTriggerFor]="languages">
                            <mat-icon class="header__nav-item--icon">language</mat-icon>
                            <span>{{ 'navigation.language' | translate }}</span>
                        </button>
                        <button
                            class="header__nav-item--menu-items"
                            mat-menu-item
                            (click)="onLogout()">
                            <mat-icon class="header__nav-item--icon">logout</mat-icon>
                            <span>{{ 'navigation.logout' | translate }}</span>
                        </button>
                    </mat-menu>
                    <mat-menu #languages="matMenu">
                        <button
                            class="header__nav-item--menu-items nested-items"
                            [class.chosenLanguage]="userData?.preferences?.language === 'hr'"
                            mat-menu-item
                            (click)="changeLanguage('hr')"
                            [disabled]="userData?.preferences?.language === 'hr'">
                            <img
                                src="../../../../assets/images/flags/croatia.png"
                                height="40"
                                width="40">
                            <span class="nested-items--text">
                                {{ 'languages.croatian' | translate }}
                            </span>
                        </button>
                        <button
                            class="header__nav-item--menu-items nested-items"
                            [class.chosenLanguage]="userData?.preferences?.language === 'en'"
                            [class.alignEn]="userData?.preferences?.language === 'hr'"
                            mat-menu-item
                            (click)="changeLanguage('en')"
                            [disabled]="userData?.preferences?.language === 'en'">
                            <img
                                src="../../../../assets/images/flags/united-kingdom.png"
                                height="24"
                                width="40">
                            <span class="nested-items--text">
                                {{ 'languages.english' | translate }}
                            </span>
                        </button>
                    </mat-menu>
                </li>
            </ng-container>
        </ul>
    </div>
</mat-toolbar>
