@import '../../../../../styles/default-pallette.scss';


.toolbar {
    padding-right:0;
    position: fixed;
    z-index: 1;

    &-button {
        vertical-align: middle;
    }
}

.title {
    text-decoration: none;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    color: white;
    vertical-align: middle;
}

.edit-button {
    margin-left: auto;
    margin-right: 10px;
}

.edit-button:hover,
.edit-button:active {
    background: $light-blue;
}

.nav-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.nav-item {
    &--icon {
        color: $army-green;
    }

    &-txt {
        text-decoration: none;
        color: white;
        cursor: pointer;
        margin-right: 10px;
        font-family: $poppins;
    }

    &--menu-items {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $poppins;

        &:not(:nth-child(1)){
            justify-content: flex-start;
        }

        &:hover {
            background: $light-blue;
        }
    }
}

.nav-item-txt:hover,
.nav-item-txt:active,
.title:hover,
.title:active {
    color: $light-blue;
}


.nested-items {
    width: 150px;
    column-gap: 10px;

    &--text {
        font-size: 15px;
        font-family: $poppins;
    }
}

.chosenLanguage {
    background: $army-green;

    .nested-items--text {
        color: white;
    }
}

.alignEn {
    justify-content: center !important;
}

@media (min-width: 640px) {

    .edit-button {
        margin-right: 0;
        margin-left: 20px;
    }
}


