@import '../../../../../styles/default-pallette.scss';

.header {
    &__toolbar {
        padding-right:0;
        position: fixed;
        z-index: 1;

        &-button {
            vertical-align: middle;
        }
    }

    &__title {
        text-decoration: none;
        font-size: 25px;
        font-family: 'Anton', sans-serif;
        color: white;
        vertical-align: middle;
    }

    &__edit-button {
        margin-left: auto;
        margin-right: 10px;
    }

    &__edit-button:hover,
    &__edit-button:active {
        background: $light-blue;
    }

    &__nav-items {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        column-gap: 10px;
        align-items: center;
    }

    &__nav-item {
        &--icon {
            color: $army-green;
        }

        &-txt {
            text-decoration: none;
            color: white;
            cursor: pointer;
            margin-right: 10px;
            font-family: $poppins;
        }

        &--menu-items {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $poppins;

            &:not(:nth-child(1)){
                justify-content: flex-start;
            }

            &:hover {
                background: $light-blue;
            }
        }
    }

    &__nav-item-txt:hover,
    &__nav-item-txt:active,
    &__title:hover,
    &__title:active {
        color: $light-blue;
    }

}

.nested-items {
    width: 150px;
    column-gap: 10px;

    &--text {
        font-size: 15px;
        font-family: $poppins;
    }
}

.chosenLanguage {
    background: $army-green;

    .nested-items--text {
        color: white;
    }
}

.alignEn {
    justify-content: center !important;
}

@media (min-width: 40rem) {
    .header {
        &__edit-button {
            margin-right: 0;
            margin-left: 20px;
        }
    }
}


