<!-- <mat-toolbar
    class="toolbar"
    color="primary">
    <div fxHide.gt-xs>
        <button
            mat-icon-button
            class="toolbar-button"
            (click)="onToggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a class="title">
            {{ 'navigation.title' | translate }}
        </a>
    </div>
    <ng-container *ngIf="isAuthenticated$ | async">
        <button
            *ngIf="isEditing$ | async"
            mat-raised-button
            class="edit-button"
            type="button"
            (click)="goToPastTraining()">
            {{ 'navigation.buttons.edit_go_back' | translate }}
        </button>
    </ng-container>
    <div
        fxFlex
        fxLayout
        fxLayoutAlign="flex-end"
        fxHide.xs>
        <ul class="nav-items">
            <li
                *ngIf="!(isAuthenticated$ | async)"
                class="nav-item">
                <mat-icon class="icon">login</mat-icon>
                <a
                    class="nav-item-txt"
                    routerLink="/auth/login"
                    [routerLinkActive]="'route-active'">
                    {{ 'navigation.login' | translate }}
                </a>
            </li>
            <li
                *ngIf="!(isAuthenticated$ | async)"
                class="nav-item">
                <mat-icon class="icon">app_registration</mat-icon>
                <a
                    class="nav-item-txt"
                    routerLink="/auth/signup"
                    [routerLinkActive]="'route-active'">
                    {{ 'navigation.signup' | translate }}
                </a>
            </li>
            <li
                *ngIf="isAuthenticated$ | async"
                class="nav-item">
                <mat-icon class="icon">fitness_center</mat-icon>
                <a
                    class="nav-item-txt"
                    routerLink="/training/new-training"
                    [routerLinkActive]="'route-active'">
                    {{ 'navigation.new_training' | translate }}
                </a>
            </li>
            <li
                *ngIf="isAuthenticated$ | async"
                class="nav-item">
                <mat-icon class="icon">history</mat-icon>
                <a
                    class="nav-item-txt"
                    routerLink="/training/past-trainings"
                    [routerLinkActive]="'route-active'"
                    [routerLinkActiveOptions]="myMatchOptions"
                    [queryParams]="{ startDate: StartDate, endDate: EndDate }">
                    {{ 'navigation.past_trainings' | translate }}
                </a>
            </li>
            <ng-container *ngIf="(loggedUserData$ | async) as userData">
                <li
                    *ngIf="isAuthenticated$ | async"
                    class="nav-item">
                    <button
                        mat-button
                        [matMenuTriggerFor]="main">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <mat-menu #main="matMenu">
                        <button
                            class="nav-item--menu-items"
                            mat-menu-item
                            [matMenuTriggerFor]="languages">
                            <mat-icon class="nav-item--icon">language</mat-icon>
                            <span>{{ 'navigation.language' | translate }}</span>
                        </button>
                        <button
                            class="nav-item--menu-items"
                            mat-menu-item
                            (click)="onLogout()">
                            <mat-icon class="nav-item--icon">logout</mat-icon>
                            <span>{{ 'navigation.logout' | translate }}</span>
                        </button>
                    </mat-menu>
                    <mat-menu #languages="matMenu">
                        <button
                            class="nav-item--menu-items nested-items"
                            [class.chosenLanguage]="userData?.Preferences?.language === 'hr'"
                            mat-menu-item
                            (click)="changeLanguage('hr')"
                            [disabled]="userData?.Preferences?.language === 'hr'">
                            <img
                                src="../../../../assets/images/flags/croatia.png"
                                height="40"
                                width="40">
                            <span class="nested-items--text">
                                {{ 'languages.croatian' | translate }}
                            </span>
                        </button>
                        <button
                            class="nav-item--menu-items nested-items"
                            [class.chosenLanguage]="userData?.Preferences?.language === 'en'"
                            [class.alignEn]="userData?.Preferences?.language === 'hr'"
                            mat-menu-item
                            (click)="changeLanguage('en')"
                            [disabled]="userData?.Preferences?.language === 'en'">
                            <img
                                src="../../../../assets/images/flags/united-kingdom.png"
                                height="24"
                                width="40">
                            <span class="nested-items--text">
                                {{ 'languages.english' | translate }}
                            </span>
                        </button>
                    </mat-menu>
                </li>
            </ng-container>
        </ul>
    </div>
</mat-toolbar>
 -->
