
.item-input {
    padding: 0 10px;

    ::ng-deep .training-split-name input {
        height: 30px;
    }
}

.days-of-week-wrapper {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 20px;
}

.exercises-wrapper {
    height: 300px;
    padding: 20px;
    margin: 0 10px 0 20px;
    border: 2px solid var(--ion-color-primary);
    border-radius: 8px;
}

.create-btn {
    margin-top: 15px;
}
