<ion-header>
    <ion-toolbar>
        <ion-buttons slot="primary">
            <ion-button (click)="onCancel()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center dialog-title">{{ 'training.training_split.create_training_split' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center">
    <ng-container *ngIf="exercisesData$ | async as data">
        <ng-container *ngIf="data.IsLoading">
            <ion-spinner
                class="ion-spinner-class"
                name="crescent"
                color="primary"
            ></ion-spinner>
        </ng-container>
        <ng-container *ngIf="data.IsError">
            <bl-error
                [imagePath]="'../../../assets/svgs/error1.svg'"
                [title]="'common.errors.something_went_wrong'"></bl-error>
        </ng-container>
        <ng-container *ngIf="data.Value">
            <form class="form" [formGroup]="form">
                <ion-item class="training-split-name-item ion-no-padding">
                    <ion-label position="floating">{{ 'training.training_split.training_split_name' | translate }}</ion-label>
                    <ion-input formControlName="name" class="training-split-name"></ion-input>
                    <ion-note *ngIf="form.controls.name.errors?.required  && (form.controls.name.dirty || form.controls.name.touched)" slot="error">
                        {{ 'training.training_split.errors.training_split_name_required' | translate }}
                    </ion-note>
                    <ion-note *ngIf="form.controls.name.errors?.maxlength  && (form.controls.name.dirty || form.controls.name.touched)" slot="error">
                        {{ 'common.errors.max_length' | translate: { length: TRAINING_SPLIT_NAME_MAXLENGTH } }}
                    </ion-note>
                </ion-item>
                <div formArrayName="trainings" class="trainings-wrapper">
                    <swiper [config]="SWIPER_CONFIG">
                        <ng-container *ngIf="daysOfWeek$ | async as daysOfWeek">
                            <ng-template *ngFor="let group of this.form.controls.trainings.controls; let i = index" swiperSlide>
                                <ion-card class="card" [formGroupName]="i">
                                    <ion-card-header class="card--header">
                                        <div class="day-of-week-text">
                                            {{ daysOfWeek[i] }}
                                        </div>
                                    </ion-card-header>
                                    <ion-card-content class="card-content">
                                        <div class="exercises-wrapper" [class.bordered-wrapper]="group.controls.exercises.value.length">
                                            <ion-item (click)="select.open()" class="exercises-item ion-no-padding">
                                                <ion-label [class.hide-label]="group.controls.exercises.value.length">{{ 'common.exercises' | translate }}</ion-label>
                                                <bl-select
                                                    #select
                                                    formControlName="exercises"
                                                    [title]="'training.training_split.search_exercises' | translate"
                                                    [multiple]="true"
                                                    [data]="data.Value"
                                                    [visibleValue]="'name'"
                                                    [hiddenValue]="'_id'"
                                                    [panelClass]="'trainingSplitClass'">
                                                </bl-select>
                                            </ion-item>
                                        </div>
                                        <ng-container *ngIf="group.controls.exercises.value.length">
                                            <div class="sets-wrapper">
                                                <div
                                                    *ngFor="let exercise of group.controls.exercises.value; let j = index"
                                                    class="individual-exercise-wrapper">
                                                    <span class="exercise-name">{{ exercise.name | translate }}</span>
                                                    <ion-item>
                                                        <ion-label position="stacked">{{ 'training.training_split.set_number' | translate }}</ion-label>
                                                        <ion-input type="number" [ngModel]="exercise.numberOfSets" [ngModelOptions]="{ standalone: true }" (ngModelChange)="onSetNumberChange($event, group.controls.dayOfWeek.value, j)"></ion-input>
                                                    </ion-item>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </ion-card-content>
                                </ion-card>
                            </ng-template>
                        </ng-container>
                    </swiper>
                </div>
                <ion-button type="button" color="primary" class="create-btn" (click)="createTrainingSplit()">
                    {{ 'common.actions.create' | translate }}
                </ion-button>
                <ng-container *ngIf="formValueChanges$ | async"></ng-container>
                <ng-container *ngIf="trainingSplitCreated$ | async"></ng-container>
            </form>
        </ng-container>
    </ng-container>
</ion-content>
