<ion-header>
    <ion-toolbar>
        <ion-buttons slot="primary">
            <ion-button (click)="onCancel()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center dialog-title">{{ 'training.training_split.create_training_split' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-text-center">
    <ng-container *ngIf="exercisesData$ | async as data">
        <ng-container *ngIf="data.IsLoading; else exercises">
            <ion-spinner
                class="ion-spinner-class"
                name="crescent"
                color="primary"
            ></ion-spinner>
        </ng-container>
        <ng-template #exercises>
            <form [formGroup]="form" class="form">
                <ion-item class="training-split-name-item ion-no-padding">
                    <ion-label position="floating">{{ 'training.training_split.training_split_name' | translate }}</ion-label>
                    <ion-input formControlName="Name" class="training-split-name"></ion-input>
                    <ion-note *ngIf="form.controls.Name.errors?.required  && (form.controls.Name.dirty || form.controls.Name.touched)" slot="error">
                        {{ 'training.training_split.errors.training_split_name_required' | translate }}
                    </ion-note>
                </ion-item>
                <div class="days-of-week-wrapper">
                    <ion-fab-button *ngFor="let day of daysOfWeek$ | async; let i = index" [class.active-day]="activeDay === i + 1" (click)="onDayActivated(i)">
                        {{ day | slice:0:3 }}
                    </ion-fab-button>
                </div>
                <div class="exercises-wrapper" [class.bordered-wrapper]="form.controls.Exercises.value.length">
                    <ion-item (click)="select.open()" class="exercises-item ion-no-padding">
                        <ion-label [class.hide-label]="form.controls.Exercises.value.length">{{ 'common.exercises' | translate }}</ion-label>
                        <bl-select
                            #select
                            formControlName="Exercises"
                            [title]="'training.training_split.search_exercises' | translate"
                            [multiple]="true"
                            [data]="data.Value"
                            [visibleValue]="'name'"
                        ></bl-select>
                        <ng-container *ngIf="exercisesChanges$ | async"></ng-container>
                    </ion-item>
                    <ng-container *ngIf="form.controls.Exercises.value.length">
                        <div formArrayName="NumberOfSets" class="sets-container">
                            <div *ngFor="let control of form.controls.NumberOfSets.controls; let i = index" class="individual-set--wrapper">
                                <ion-text class="individual-set--exercise-name">{{ form.controls.Exercises.value[i].name | translate }}</ion-text>
                                <ion-item class="set-number-item ion-no-padding">
                                    <ion-label position="stacked" class="">{{ 'training.training_split.set_number' | translate }}</ion-label>
                                    <ion-input [formControlName]="i" type="number"></ion-input>
                                    <ion-note *ngIf="control.errors?.required  && (control.dirty || control.touched)" slot="error">
                                        {{ 'training.training_split.errors.set_number_required' | translate }}
                                    </ion-note>
                                </ion-item>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <ion-button type="button" color="primary" class="create-btn" (click)="createTrainingSplit()">
                    {{ 'common.actions.create' | translate }}
                </ion-button>
            </form>
        </ng-template>
    </ng-container>
</ion-content>
