
.md .dialog-title {
    margin: 0 auto;
}

.ios .form {
    margin: 0 5px;
}

.training-split-name-item {
    ::ng-deep .training-split-name input {
        height: 30px;
    }
}

.trainings-wrapper {
    margin-top: 30px;

    .slideable-wrapper {
        border: 2px solid var(--ion-color-primary);
        border-radius: 8px;
        box-shadow: var(--ion-box-shadow);
        padding: 10px 20px;
        min-height: 300px;
        position: relative;

        .day-of-week-placeholder {
            position: absolute;
            width: 100px;
            left: 0;
            right: 0;
            top: -22px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .arrow-left,
    .arrow-right {
        position: absolute;
        width: 60px;
        height: 60px;
        right: -1px;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        z-index: 100;
    }

    .arrow-right {
        right: unset;
        left: -1px;
    }
}

.exercises-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px 0;
    margin-top: 20px;

    .hide-label {
        display: none;
    }

    .sets-container {
        display: flex;
        flex-direction: column;

        .individual-set {
            &--wrapper {
                display: flex;
                align-items: center;

                &:last-of-type {
                    margin-bottom: 20px;
                }

                &:not(:first-of-type) {
                    margin-top: 15px;
                }
            }

            &--exercise-name {
                font-weight: 600;
                flex: 1;
                align-self: center;
                padding-right: 15px;
                max-width: 50%;
            }
        }

        .set-number-item {
            width: 150px;
            flex: 1;
        }
    }
}

.create-btn {
    margin-top: 15px;
}
