
.md .dialog-title {
    margin: 0 auto;
}

.ios .form {
    margin: 0 5px;
}

.training-split-name-item {
    ::ng-deep .training-split-name input {
        height: 30px;
    }
}

.days-of-week-wrapper {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 20px;

    .active-day {
        --background: var(--ion-color-primary-shade) !important;
    }
}

.exercises-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px 20px;

    .hide-label {
        display: none;
    }

    .sets-container {
        display: flex;
        flex-direction: column;

        .individual-set {
            &--wrapper {
                display: flex;
                align-items: center;

                &:last-of-type {
                    margin-bottom: 20px;
                }

                &:not(:first-of-type) {
                    margin-top: 15px;
                }
            }

            &--exercise-name {
                font-weight: 600;
                flex: 1;
                align-self: flex-end;
                padding-right: 15px;
                max-width: 50%;
            }
        }

        .set-number-item {
            width: 150px;
            flex: 1;
        }
    }
}

.bordered-wrapper {
    border: 2px solid var(--ion-color-primary);
    border-radius: 8px;
    box-shadow: var(--ion-box-shadow);
}

.create-btn {
    margin-top: 15px;
}
