<ion-header>
    <ion-toolbar class="toolbar-title">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{
            editMode ? ('navigation.edit_training' | translate) : ('navigation.new_training' | translate)
        }}</ion-title>
        <ion-buttons slot="primary">
            <ion-button
                *ngIf="(isAuthenticated$ | async) && (isEditing$ | async)"
                type="button"
                (click)="goToPastTraining()"
            >
                <ion-icon name="arrow-back-circle-sharp"></ion-icon>
            </ion-button>
            <ion-button *ngIf="isReorder$ | async" type="button" (click)="openReorderModal()">
                <ion-icon slot="icon-only" class="reorder-icon" name="git-compare-sharp"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center ion-padding">
    <ng-container *ngIf="trainingStream$ | async as trainingData">
        <ng-container *ngIf="trainingData.IsError; else valueOrLoading">
            <div class="error-wrapper">
                <img class="error-image" src="../../../../assets/svgs/error1.svg" />
                <h3 class="error-title">
                    {{ 'training.new_training.errors.new_training_error_title' | translate }}
                </h3>
                <span class="error-description">
                    {{
                        editMode
                            ? ('training.new_training.errors.new_training_error_description' | translate)
                            : ('training.new_training.errors.new_training_error_load' | translate)
                    }}
                </span>
                <ion-button color="primary" type="button" (click)="tryAgain()">
                    {{ 'common.try_again' | translate }}
                </ion-button>
            </div>
        </ng-container>
        <ng-template #valueOrLoading>
            <ion-spinner
                *ngIf="trainingData.IsLoading"
                class="ion-spinner-class"
                name="crescent"
                color="primary"
            ></ion-spinner>
            <form autocomplete="off" [class.hide-form]="trainingData.IsLoading" [formGroup]="newTrainingForm">
                <ion-item>
                    <ion-label position="floating">{{ 'training.new_training.pick_bodyweight' | translate }}</ion-label>
                    <ng-container *ngIf="currentPreferences$ | async as currentPreferences">
                        <ion-input
                            #bodyweightRef
                            class="bodyweight-input"
                            type="number"
                            formControlName="bodyweight"
                            (ionChange)="onBodyweightChange()"
                        ></ion-input>
                        <ion-text
                            class="bodyweight-input--unit"
                            slot="end"
                            [class.invalid-bodyweight]="newTrainingForm.controls.bodyweight.invalid"
                        >
                            {{ bodyweightRef?.value ? currentPreferences.weightUnit : '' }}
                        </ion-text>
                    </ng-container>
                    <ion-note *ngIf="newTrainingForm.controls.bodyweight.errors?.min" slot="error">
                        {{ 'training.new_training.errors.bodyweight_min' | translate }}
                    </ion-note>
                    <ion-note *ngIf="newTrainingForm.controls.bodyweight.errors?.max" slot="error">
                        {{ 'training.new_training.errors.bodyweight_max' | translate }}
                    </ion-note>
                    <ion-note *ngIf="newTrainingForm.controls.bodyweight.errors?.required" slot="error">
                        {{ 'training.new_training.errors.bodyweight_required' | translate }}
                    </ion-note>
                </ion-item>

                <ion-item class="datetime-item" lines="none" (click)="openDateTimePicker()">
                    <ion-icon class="datetime-icon" slot="start" color="primary" name="calendar-outline"></ion-icon>
                    <ion-label>{{ 'common.date' | translate }}</ion-label>
                    <ion-text color="primary">{{ formattedTodayDate }}</ion-text>
                </ion-item>
                <ng-container *ngIf="newTrainingForm.get('trainingDate').errors?.required">
                    <ion-note class="error">{{ 'training.new_training.errors.date_required' | translate }}</ion-note>
                </ng-container>

                <ng-container *ngIf="exercisesState$ | async as exercisesState">
                    <bl-single-exercise
                        formControlName="exercises"
                        [bodyweightControl]="newTrainingForm.controls.bodyweight"
                        [trainingDate]="newTrainingForm.get('trainingDate')"
                        [editTrainingData]="editTrainingData"
                        [isSubmitted]="isSubmitted$ | async"
                        [isLoading]="trainingData.IsLoading"
                        [isApiLoading]="isApiLoading$ | async"
                        [editMode]="editMode"
                        (exerciseAdded)="onExerciseAdded($event)">
                        <ion-col class="ion-text-end log-training-col">
                            <ion-button
                                (click)="onSubmit()"
                                [disabled]="!exercisesState?.length || (isApiLoading$ | async)"
                            >
                            {{ 'common.' + (editMode ? 'edit' : 'add') | translate }}
                            </ion-button>
                        </ion-col>
                    </bl-single-exercise>
                    <ion-grid>
                        <ion-row>
                            <ion-col class="ion-text-center at-least-one-exercise-txt">
                                <ion-note
                                    *ngIf="
                                        (isSubmitted$ | async) &&
                                        exercisesState?.length === 0
                                    "
                                    class="empty-training-msg"
                                >
                                    {{ 'training.new_training.errors.at_least_one_exercise' | translate }}
                                </ion-note>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ng-container>
            </form>
        </ng-template>
    </ng-container>
</ion-content>
