@import '../../../../../../styles/default-pallette';

.filters-wrapper {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    border: 2px solid $army-green;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;

    .search-wrapper {
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding-top: 15px;
        width: 90%;

        .search-icon {
            color: $army-green;
        }

        .filters-input {
            flex-basis: 90%;
            border-radius: 4px;
            border: 2px solid $army-green;
            height: 20px;
        }
    }

    .or {
        color: $army-green;
        font-weight: 600;
    }
}

@media (min-width: 640px) {
    .filters-wrapper {
        width: 850px;
        margin-bottom: 0;
    }
}
