@import '../../../../../../styles/default-pallette';

.filters-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin: 8px 0;
    padding: 5px 0;
    border: 2px solid $army-green;
    box-sizing: border-box;

    .search-icon {
        color: $army-green;
    }

    .or {
        color: $army-green;
        font-weight: 600;
    }
}

@media (min-width: 640px) {
    .filters-wrapper {
        width: 850px;
        margin-bottom: 0;
    }
}
