<ion-header>
    <ion-toolbar class="toolbar-title">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ 'navigation.new_training' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center ion-padding">
    <ng-container *ngIf="(trainingStream$ | async) as trainingData">
        <ion-spinner
            *ngIf="trainingData?.IsLoading; else valueOrError"
            name="crescent"
            color="primary"></ion-spinner>
        <ng-template #valueOrError>
            <form
                *ngIf="form && trainingData?.Value"
                autocomplete="off"
                [formGroup]="form">
                <ion-list>
                    <ion-item
                        lines="none"
                        fill="outline">
                        <ion-label position="floating">{{ 'training.new_training.pick_bodyweight' | translate }}</ion-label>
                        <ion-input
                            ionFocus
                            #bodyweightRef
                            type="number"
                            formControlName="bodyweight"
                            (input)="onBodyweightChange(bodyweightRef.value)"></ion-input>
                            <ion-note
                                *ngIf="bodyweight?.errors?.onlyNumbers"
                                slot="error">
                                {{ 'training.new_training.errors.only_numbers' | translate }}
                            </ion-note>
                            <ion-note
                                *ngIf="bodyweight?.errors?.min"
                                slot="error">
                                {{ 'training.new_training.errors.bodyweight_min' | translate }}
                            </ion-note>
                            <ion-note
                                *ngIf="bodyweight?.errors?.max"
                                slot="error">
                                {{ 'training.new_training.errors.bodyweight_max' | translate }}
                            </ion-note>
                    </ion-item>
                </ion-list>
                <bl-single-exercise
                    formControlName="exercise"
                    [bodyweight]="bodyweight"
                    [editData]="editData"
                    [isLoading]="trainingData.IsLoading"
                    [editMode]="editMode"></bl-single-exercise>
            </form>
            <ng-container *ngIf="trainingData?.IsError">
                <div class="error-wrapper">
                    <img
                        class="error-image"
                        src="../../../../assets/svgs/error1.svg">
                    <h3 class="error-title">
                        {{ 'training.new_training.errors.new_training_error_title' | translate }}
                    </h3>
                    <span
                        *ngIf="editMode; else createMode"
                        class="error-description">
                        {{ 'training.new_training.errors.new_training_error_description' | translate }}
                    </span>
                    <ng-template #createMode>
                        <span class="error-description">{{ 'training.new_training.errors.new_training_error_load' | translate }}</span>
                    </ng-template>
                    <ion-button
                        color="primary"
                        type="button"
                        (click)="tryAgain()">
                        {{ 'common.try_again' | translate }}
                    </ion-button>
                </div>
            </ng-container>
        </ng-template>
    </ng-container>
</ion-content>
