ion-card {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    border: 2px solid var(--ion-color-primary);
    box-shadow: var(--ion-box-shadow);
    width: 95%;

    ion-card-content {
        padding: 5px 0;
    }
}

.md ion-button {
    font-size: 5px;
}

.ios ion-button {
    font-size: 8px;
}

.paginator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 5px;
}

.controls-wrapper {
    display: flex;
    align-items: center;
    column-gap: 5px;
    max-width: 100%;

    .page-size-select::part(icon) {
        color: var(--ion-color-primary);
    }
}

.arrow-wrapper {
    display: flex;
    column-gap: 10px;
}

.arrow-wrapper-search {
    & > * {
        margin-bottom: 0;
        margin-top: 10px;
    }
}

.previous:not([disabled]):hover,
.previous:not([disabled]):active,
.next:not([disabled]):hover,
.next:not([disabled]):active,
.first:not([disabled]):hover,
.first:not([disabled]):active,
.last:not([disabled]):hover,
.last:not([disabled]):active {
    background: var(--ion-color-light);
}

.icon {
    color: var(--ion-color-primary);
}

.label {
    font-size: 15px;
}

@media (min-width: 640px) {
    ion-card {
        width: 1020px;
        position: relative;
        margin-top: 5px;
    }

    .paginator {
        column-gap: 20px;
        justify-content: flex-end;
        flex-direction: row;
    }

    .arrow-wrapper {
        margin-right: 15px;
    }

    .controls-wrapper {
        order: 2;
    }

    .label {
        margin-right: auto;
        margin-left: 15px;
    }
}
