<ion-card>
    <ion-card-content>
        <div class="paginator">
            <div class="controls-wrapper">
                <ng-container *ngIf="isSearch">
                    <div
                        *skeleton="isLoading; width: '50px'; height: '35px'; margin: '0 10px 0 0'"
                        class="page-size-wrapper"
                    >
                        <select class="page-size" [(ngModel)]="size" (change)="loadPage()">
                            <option *ngFor="let size of pageSizeOptions" [value]="size">
                                {{ size }}
                            </option>
                        </select>
                    </div>
                </ng-container>
                <div class="arrow-wrapper">
                    <ion-button
                        *skeleton="isLoading; width: '50px'; height: '35px'"
                        class="first"
                        type="button"
                        color="primary"
                        fill="outline"
                        (click)="loadPage('First', undefined, data?.Value?.Results?.EarliestTrainingDate)"
                        [disabled]="!isPreviousPage"
                    >
                        <ion-icon name="play-back-sharp"></ion-icon>
                    </ion-button>
                    <ion-button
                        *skeleton="isLoading; width: '50px'; height: '35px'"
                        type="button"
                        class="previous"
                        color="primary"
                        fill="outline"
                        [disabled]="data?.IsLoading || !isPreviousPage"
                        (click)="loadPage('Previous', data.Value?.Results?.Dates)"
                    >
                        <ion-icon name="chevron-back-sharp"></ion-icon>
                    </ion-button>
                    <ion-button
                        *skeleton="isLoading; width: '50px'; height: '35px'"
                        type="button"
                        class="next"
                        color="primary"
                        fill="outline"
                        [disabled]="data.IsLoading || !isNextPage"
                        (click)="loadPage('Next', data.Value?.Results?.Dates)"
                    >
                        <ion-icon name="chevron-forward-sharp"></ion-icon>
                    </ion-button>
                    <ion-button
                        *skeleton="isLoading; width: '50px'; height: '35px'"
                        type="button"
                        class="last"
                        color="primary"
                        fill="outline"
                        (click)="loadPage('Last', undefined, undefined, data?.Value?.TotalPages)"
                        [disabled]="!isNextPage"
                    >
                        <ion-icon name="play-forward-sharp"></ion-icon>
                    </ion-button>
                </div>
            </div>
            <ng-container *ngIf="data?.Value?.TotalPages">
                <div
                    *skeleton="isLoading; width: '75px'; height: '25px'"
                    class="label"
                    [innerHTML]="setPageText$(data.Value?.TotalPages) | async | sanitizeHtml"
                ></div>
            </ng-container>
        </div>
    </ion-card-content>
</ion-card>
