<ng-container *ngIf="exerciseControl.value">
    <form *ngFor="let group of form.controls; let i = index;" [formGroup]="group">
        <bl-set-constituent
            #set
            [form]="group"
            [weightUnit]="currentWeightUnit"
            [exerciseControl]="exerciseControl"
            [availableSetCategoriesControl]="availableSetCategoriesControl"
            [currentBodyweight]="currentBodyweight"
            [isLoading]="isLoading"
            [isSubmitted]="isSubmitted"
            [isFirstSet]="i === 0"
            (setChanged)="onSetChanged($event, i)"
            (setDeleted)="onSetDeleted(i)"
            (setConstituentKeydownEmitted)="onSetConstituentKeydownEmit($event, i)"
            (setCategoryModalOpened)="onUpdateSetCategory($event, i)"></bl-set-constituent>
    </form>
</ng-container>
<ion-grid>
    <ion-row class="ion-text-center">
        <ion-col>
            <ion-button
                class="add-set-btn"
                type="button"
                color="primary"
                [disabled]="!exerciseControl.value || !form.valid"
                (click)="addSet()"
            >
                {{ 'training.new_training.buttons.add_set' | translate }}
            </ion-button>
        </ion-col>
    </ion-row>
</ion-grid>
