
.wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
    column-gap: 10px;
    padding-bottom: 10px;

    .key {
        color: var(--ion-color-primary);
        font-size: 20px;
    }

    .value {
        font-size: 16px;
    }

}
