
.md .title {
    font-size: 18px;
}

.ios .searchable-toolbar {
    --background: white;

    .searchbar {
        padding-top: 10px;
    }
}

.selected-items {
    max-width: 270px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
