<div *ngIf="selectedItems.length" class="selected-items" [ngClass]="panelClass">
    <span *ngFor="let item of selectedItems; let last = last">
        {{ item[visibleValue] | translate }} {{ last ? '' : ', ' }}
    </span>
</div>

<ion-modal [isOpen]="isOpen">
    <ng-template>
        <ion-header>
            <ion-toolbar color="primary">
                <ion-buttons slot="start">
                    <ion-button (click)="cancel()">{{ 'common.actions.cancel' | translate }}</ion-button>
                </ion-buttons>
                <ion-title class="title">{{ title }}</ion-title>
                <ion-buttons *ngIf="multiple" slot="end">
                    <ion-button (click)="select()">{{ 'common.actions.select' | translate }}</ion-button>
                </ion-buttons>
            </ion-toolbar>
            <ion-toolbar class="searchable-toolbar">
                <ion-searchbar class="searchbar" (ionChange)="filter($any($event))"></ion-searchbar>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-item *ngFor="let item of filteredItems" (click)="itemSelected()">
                <ion-checkbox slot="start" [(ngModel)]="item.selected"></ion-checkbox>
                <ion-label>{{ item[visibleValue] | translate }}</ion-label>
            </ion-item>
        </ion-content>
    </ng-template>
</ion-modal>
