<form
    [formGroup]="$any(form)"
    autocomplete="off">
    <ng-container *ngFor="let set of getSets(); let j = index">
        <ng-container [formGroupName]="j">
            <ion-grid>
                <ion-row class="ion-text-center set-row">
                    <ion-col size="5">
                        <ion-item fill="outline">
                            <ion-label
                                class="ion-label"
                                position="floating">
                                {{ 'training.new_training.weight_lifted' | translate }}
                            </ion-label>
                            <ion-input
                                #weightLiftedEl
                                type="number"
                                class="weight-lifted-input"
                                formControlName="weightLifted"
                                (ionChange)="onChangeSets(j)"
                                (ionBlur)="onTouched()"></ion-input>
                            <ion-text
                                *ngIf="accessFormField('weightLifted', j).errors?.onlyNumbers &&
                                    !accessFormField('weightLifted', j).errors?.min &&
                                    !isLoading"
                                slot="error">
                                {{ 'training.new_training.errors.only_numbers' | translate }}
                            </ion-text>
                            <ion-text
                                *ngIf="accessFormField('weightLifted', j).errors?.min &&
                                    !accessFormField('weightLifted', j).errors?.onlyNumbers &&
                                    !isLoading"
                                slot="error">
                                {{ 'training.new_training.errors.weight_lifted_min' | translate }}
                            </ion-text>
                            <ion-text
                                *ngIf="accessFormField('weightLifted', j).errors?.max &&
                                    !accessFormField('weightLifted', j).errors?.onlyNumbers &&
                                    !isLoading"
                                slot="error">
                                {{ 'training.new_training.errors.weight_lifted_max' | translate }}
                            </ion-text>
                        </ion-item>
                        <ion-text
                            *ngIf="(set.errors?.weightLiftedRequired && ((isExerciseFormSubmitted$ | async) || exerciseNameControl?.value)) &&
                                !accessFormField('weightLifted', j).errors?.min &&
                                !isLoading"
                            class="error">
                            {{ 'training.new_training.errors.weight_lifted_required' | translate }}
                        </ion-text>
                        <ion-text
                            *ngIf="set.errors?.setNotEntered
                                && (isExerciseFormSubmitted$ | async)
                                && !set.errors?.weightLiftedRequired
                                && !set.errors?.repsRequired
                                && !isLoading"
                            class="error">
                            {{ 'training.new_training.errors.set_required' | translate }}
                        </ion-text>
                        <ion-text
                            *ngIf="accessFormField('weightLifted', j).value
                                && accessFormField('weightLifted', j).valid
                                && accessFormField('reps', j).value
                                && accessFormField('reps', j).valid
                                && !set.errors?.weightLiftedRequired
                                && !set.errors?.repsRequired
                                && !editMode
                                && !isLoading"
                            class="set-saved-msg">
                            {{ 'training.new_training.set_saved' | translate }}
                        </ion-text>
                    </ion-col>
                    <ion-col size="5">
                        <ion-item fill="outline">
                            <ion-label
                                class="ion-label"
                                position="floating">
                                    {{ 'training.new_training.reps_performed' | translate }}
                                </ion-label>
                            <ion-input
                                type="number"
                                class="reps-input"
                                formControlName="reps"
                                (ionChange)="onChangeSets(j)"
                                (ionBlur)="onTouched()"></ion-input>
                            <ion-text
                                *ngIf="accessFormField('reps', j).errors?.pattern &&
                                    !accessFormField('reps', j).errors?.onlyNumbers &&
                                    !isLoading"
                                slot="error">
                                {{ 'training.new_training.errors.only_positive' | translate }}
                            </ion-text>
                            <ion-text
                                *ngIf="accessFormField('reps', j).errors?.min &&
                                    !accessFormField('reps', j).errors?.onlyNumbers &&
                                    !accessFormField('reps', j).errors?.pattern &&
                                    !isLoading"
                                slot="error">
                                {{ 'training.new_training.errors.reps_min' | translate }}
                            </ion-text>
                            <ion-text
                                *ngIf="accessFormField('reps', j).errors?.max &&
                                    !accessFormField('reps', j).errors?.onlyNumbers &&
                                    !accessFormField('reps', j).errors?.pattern &&
                                    !isLoading"
                                slot="error">
                                {{ 'training.new_training.errors.reps_max' | translate }}
                            </ion-text>
                        </ion-item>
                        <ion-text
                            *ngIf="(set.errors?.repsRequired &&
                                ((isExerciseFormSubmitted$ | async) || (accessFormField('reps', j).touched))) &&
                                !isLoading"
                            class="error">
                            {{ 'training.new_training.errors.reps_required' | translate }}
                        </ion-text>
                    </ion-col>
                    <ion-col
                        size="2"
                        class="delete-set-col">
                        <ion-button
                            class="button-no-background"
                            type="button"
                            [disabled]="j === 0 || isLoading"
                            (click)="deleteSet(j)">
                            <ion-icon
                                name="trash-sharp"
                                color="primary"
                                class="delete-set-icon"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ng-container>
    </ng-container>
</form>
<ion-grid>
    <ion-row class="ion-text-center">
        <ion-col>
            <ion-button
                type="button"
                color="primary"
                [disabled]="!exerciseNameControl.value || form.errors?.setNotFilled"
                (click)="addSet()">
                {{ 'training.new_training.buttons.add_set' | translate }}
            </ion-button>
        </ion-col>
    </ion-row>
</ion-grid>
