
.set-grid {
    &:first-of-type {
        padding-bottom: 0;
    }

    &:not(:first-of-type) {
        padding-top: 0;
    }

    &:not(:last-of-type) {
        margin-bottom: 5px;
    }
}

.set-row {
    align-items: flex-start;

    ::ng-deep .weight-lifted-input input {
        height: 30px;
    }

    ::ng-deep .reps-input input {
        height: 30px;
    }

    .ion-label {
        font-size: 14px;
    }
}

.delete-set-col {
    margin-top: 5px;

    .delete-set-icon {
        position: absolute;
        width: 30px;
        height: 30px;
    }
}

.weight-lifted-input {
    max-width: 65px;

    &--unit {
        position: absolute;
        right: 15px;
        font-weight: bold;
        font-size: 16px;
        color: var(--ion-color-primary);
    }
}

.invalid-weight-lifted {
    color: var(--ion-color-danger);
}
