
ion-grid {
    &:first-of-type {
        padding-bottom: 0;
    }

    &:not(:first-of-type) {
        padding-top: 0;
    }
}

.set-row {
    align-items: flex-start;

    ::ng-deep .weight-lifted-input input {
        height: 30px;
    }

    ::ng-deep .reps-input input {
        height: 30px;
    }

    .ion-label {
        font-size: 14px;
    }
}

.set-saved-msg {
    color: var(--ion-color-primary);
    font-weight: bold;
    font-size: 14px;
}

.delete-set-col {
    margin-top: 5px;

    .delete-set-icon {
        position: absolute;
        width: 30px;
        height: 30px;
    }
}

.weight-lifted-input {
    &--metric {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
