<div>
    <span
        mat-dialog-title
        class="title">
        {{ data.title$ | async }}
    </span>
</div>
<mat-dialog-content class="content">
    <span class="created-at-key">
        {{ 'training.past_trainings.created_at' | translate }}
        <strong class="created-at-value">{{ data.createdAt$ | async }}</strong>
    </span>
    <ng-container *ngIf="(data.training$ | async) as training">
        <div
            class="exercises-wrapper">
            <span>{{ 'common.exercises' | translate }}</span>
            <strong
                *ngFor="let exercise of training.exercise | slice:0:4"
                class="exercise-value"
                matTooltipClass="tooltip"
                matTooltipPosition="above"
                [matTooltip]="training.exercise.length > 4 ? (training | showAllExercises | async) : ''">
                {{ exercise.exerciseName | translate }}
            </strong>
        </div>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions class="actions">
    <button
        mat-raised-button
        mat-dialog-close>
        {{ 'common.actions.close' | translate }}
    </button>
    <button
        mat-raised-button
        class="delete-btn"
        color="primary">
        {{ 'common.actions.delete' | translate }}
    </button>
</mat-dialog-actions>
