
span:not(:last-child) {
    font-size: 11px;
    color: var(--ion-color-danger)
}

.submit {
    margin-top: 10px;
}

.no_account_message {
    font-size: 14px;
    color: var(--ion-color-medium);
    display: inline-block;
    margin-top: 15px;
    padding-bottom: 16px;

    .no-account-link {
        text-decoration: none;
        font-weight: bold;
        color: var(--ion-color-primary);
        cursor: pointer;
    }
}
