
ion-select {
    color: var(--ion-color-primary);
    --placeholder-opacity: 1;
}

.md .exercise-row {
    align-items: center;
}

.ios .exercise-row {
    align-items: flex-end;
}

.empty-training-msg {
    font-size: 13px;
}
