<form
    [formGroup]="$any(form)"
    (ngSubmit)="onSubmit()">
    <ng-container
        *ngFor="let group of getExercises(); let i = index">
        <ng-container [formGroupName]="i">
            <div
                class="exercise-wrapper">
                <mat-form-field
                    appearance="outline"
                    class="exercise-form-field"
                    matTooltipClass="tooltip"
                    matTooltipPosition="above"
                    [matTooltipDisabled]="accessFormField('disabledTooltip', i).value"
                    [matTooltip]="accessFormField('name', i).value | translate">
                    <mat-label class="label">
                        {{ 'training.new_training.pick_exercise' | translate }}
                    </mat-label>
                    <mat-select
                        #exerciseNameChoice
                        formControlName="name"
                        (selectionChange)="onExerciseNameChange($event, i, exerciseNameChoice)">
                        <mat-optgroup
                            *ngFor="let exercise of exercises$ | newTraining:i:exerciseChanged | async"
                            [label]="exercise.primaryMuscleGroup">
                            <mat-option
                                class="exercise-option"
                                [value]="exercise.name">
                                <img
                                    class="exercise-img"
                                    [src]="exercise.imageUrl">
                                <p class="exercise-text">
                                    {{ exercise.name | translate }}
                                </p>
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                    <mat-error *ngIf="(accessFormField('name', i).touched || accessFormField('name', i).dirty) || isSubmitted">
                        <mat-error
                            class="error"
                            *ngIf="accessFormField('name', i).errors?.required">
                            {{ 'training.new_training.errors.exercise_name_required' | translate }}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
                <div
                    class="delete-exercise-wrapper"
                    [matTooltip]="'training.new_training.buttons.delete_exercise' | translate"
                    matTooltipPosition="above"
                    matTooltipClass="tooltip">
                    <button
                        type="button"
                        mat-raised-button
                        color="warn"
                        (click)="deleteExercise(i, accessFormField('name', i).value)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </div>
            </div>
            <app-sets
                formControlName="sets"
                [exerciseNameControl]="accessFormField('name', i)"
                [indexExercise]="i"
                [isLoading]="isLoading"
                [editMode]="editMode"
                (setAdded)="onChangeSets($event)"
                (setDeleted)="deleteSet($event)"
                (formStateChanged)="onSetFormChange($event)"></app-sets>
            <!--TODO: setFormErrors?.indexExercise === i nadodati ispod uvjet-->
            <span
                class="total-error"
                *ngIf="setErrors.includes('firstSetInvalid') && isSubmitted">
                {{ 'training.new_training.errors.at_least_one_set' | translate }}
            </span>
            <app-total-weight formControlName="total"></app-total-weight>
        </ng-container>
    </ng-container>
    <div class="add-exercise">
        <div
            *ngIf="(isAddingExercisesAllowed$ | async) as isAddingExercisesAllowed"
            [matTooltip]="(showAddExerciseTooltip(isAddingExercisesAllowed[0].length, isAddingExercisesAllowed[1].length)) | async"
            [matTooltipClass]="'tooltip-error'">
            <button
                mat-raised-button
                type="button"
                color="primary"
                class="add-exercise-button"
                (click)="addExercise($event)"
                [disabled]="isAddingExercisesDisabled(
                    isAddingExercisesAllowed[0].length,
                    isAddingExercisesAllowed[1].length)">
                {{ 'training.new_training.buttons.add_exercise' | translate }}
            </button>
        </div>
        <button
            class="finish-training"
            type="submit"
            mat-raised-button
            color="primary"
            [matTooltip]="'training.new_training.finish_training' | translate"
            matTooltipPosition="above"
            matTooltipClass="tooltip">
            <mat-icon class="finish-training-icon">done</mat-icon>
        </button>
    </div>
</form>
