@import '../../../../../../styles/default-pallette.scss';

ion-item {
    --border-color: var(--ion-color-primary);
}

ion-select {
    color: var(--ion-color-primary);
    --placeholder-opacity: 1;
}

.md .exercise-row {
    align-items: center;
}

.ios .exercise-row {
    align-items: flex-end;
}

.empty-training-msg {
    display: block;
    text-align: center;
    color: var(--ion-color-danger);
    font-size: 13px;
    margin-top: 10px;
    line-height: 16px;
    white-space: nowrap;
}
