<form
    [formGroup]="$any(form)"
    (ngSubmit)="onSubmit()">
    <ng-container
        *ngFor="let group of getExercises(); let i = index">
        <ng-container [formGroupName]="i">
            <ion-grid>
                <ion-row class="ion-text-center exercise-row">
                    <ion-col size="10">
                        <ion-item fill="outline">
                            <ion-label position="floating">{{ 'training.new_training.pick_exercise' | translate }}</ion-label>
                            <ion-select
                                #exerciseNameChoice
                                interface="popover"
                                formControlName="name"
                                (ionChange)="onExerciseNameChange(i, exerciseNameChoice)">
                                <ion-select-option
                                    *ngFor="let exercise of exercises$ | newTraining:i:exerciseChanged | async"
                                    [value]="exercise.Name">
                                    {{ exercise.Name | translate }}
                                </ion-select-option>
                            </ion-select>
                            <ion-note
                                *ngIf="accessFormField('name', i).errors?.required"
                                slot="error">
                                {{ 'training.new_training.errors.exercise_name_required' | translate }}
                            </ion-note>
                        </ion-item>
                        <!--TODO: test this validation-->
                        <ion-note
                            *ngIf="form.errors?.duplicateExerciseName && form.errors?.duplicateExerciseName === accessFormField('name', i).value"
                            class="error">
                            {{ 'training.new_training.errors.exercise_name_duplicate' | translate }}
                        </ion-note>
                    </ion-col>
                    <ion-col
                        size="2">
                        <ion-icon
                            name="trash-bin-sharp"
                            color="danger"
                            (click)="deleteExercise(i, accessFormField('name', i).value)"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <bl-sets
                formControlName="sets"
                [isExerciseFormSubmitted$]="isSubmitted$$.asObservable()"
                [exerciseStateChanged$]="exerciseStateChanged$$.asObservable()"
                [exerciseNameControl]="accessFormField('name', i)"
                [indexExercise]="i"
                [isLoading]="isLoading"
                [editMode]="editMode"
                (setAdded)="onChangeSets($event)"
                (setDeleted)="deleteSet($event)"
                (formStateChanged)="onSetFormChange($event)"></bl-sets>
            <bl-total-weight formControlName="total"></bl-total-weight>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="(currentExerciseState$ | async) as currentExerciseState">
        <ion-grid>
            <ion-row class="ion-justify-content-around">
                <ion-col>
                    <ion-button
                        type="button"
                        color="primary"
                        [disabled]="isAddingExercisesDisabled(
                            currentExerciseState[0].length,
                            currentExerciseState[1].length) || isLoading"
                        (click)="addExercise($event)">
                        {{ 'training.new_training.buttons.add_exercise' | translate }}
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button
                        type="submit"
                        [disabled]="currentExerciseState[0]?.length === 0 || isLoading">
                        <ion-icon name="checkmark-sharp"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
            <span
                *ngIf="form?.errors?.emptyTraining && (isSubmitted$$ | async) && currentExerciseState[0]?.length === 0"
                class="empty-training-msg">
                {{ 'training.new_training.errors.at_least_one_exercise' | translate }}
            </span>
        </ion-grid>
    </ng-container>
</form>
