
ion-grid:first-of-type {
    padding-bottom: 0;
}

.exercise-picker {
    color: var(--ion-color-primary);
    max-width: 250px;
}

.md .exercise-row {
    align-items: center;
}

.ios .exercise-row {
    align-items: flex-end;
}

.empty-training-msg {
    font-size: 14px;
}
