@import '../styles/default-pallette.scss';

html, body {
    height: 100%;
    font-family: $poppins;
}

body {
    margin: 0;
}

.app {
    &__snackbar {
        background-color: $army-green;

        .mat-simple-snackbar {
            span {
                color: white;
                font-family: $poppins;
                font-size: 14px;
            }
        }

        &-error {
            background-color: $dark-red !important;
        }
    }
}




