@import '../styles/default-pallette.scss';

html, body {
    height: 100%;
    font-family: $poppins;
}

body {
    margin: 0;
}

.app {
    &__snackbar {
        background-color: $army-green;

        &-error {
            background-color: $dark-red !important;
        }
    }
}

.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline-thick {
    color: $army-green;
}

.mat-simple-snackbar {
    color: white;
    font-family: $poppins;
    font-size: 14px;
}

.tooltip {
    font-size: 11px;
    font-family: $poppins;
    white-space: pre-line;
    background-color: $army-green;

    &-error {
        background-color: $dark-red;
        font-size: 11px;
        font-family: $poppins;
        white-space: pre-line;
    }
}

.dot {
    height: 10px;
    width: 10px;
    background-color: $army-green;
    border-radius: 50%;
    display: inline-block;
}

@keyframes button-spinner {
    to {
        transform: rotate(360deg);
    }
}

.button-spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: button-spinner .8s linear infinite;
}




