<ng-container *ngIf="(loggedUserData$ | async) as userData">
    <ion-list>
        <ion-item
            *ngFor="let language of languageData"
            lines="none"
            [class.chosenLanguage]="userData?.Preferences?.LanguageCode === language.LanguageCode"
            [disabled]="userData?.Preferences?.LanguageCode === language.LanguageCode"
            (click)="changeLanguage(language.LanguageCode)">
            <ion-img [src]="language.ImageUrl"></ion-img>
            <ion-text>
                {{ language.LanguageName | translate }}
            </ion-text>
        </ion-item>
    </ion-list>
</ng-container>
