<ion-list>
    <ng-container [ngSwitch]="preferenceType">
        <ng-container *ngSwitchCase="'language'">
            <ion-item
                *ngFor="let language of languageData"
                lines="none"
                [disabled]="preferences.languageCode === language.languageCode"
                (click)="changePreference(language.languageCode)"
            >
                <ion-img [src]="language.imageUrl"></ion-img>
                <ion-text class="txt">
                    {{ language.languageName | translate }}
                </ion-text>
                <ion-icon
                    *ngIf="preferences.languageCode === language.languageCode"
                    name="checkmark-outline"
                    class="checkmark"
                    slot="end"
                ></ion-icon>
            </ion-item>
        </ng-container>
        <ng-container *ngSwitchCase="'weightUnit'">
            <ion-item
                *ngFor="let unit of unitData"
                lines="none"
                [disabled]="preferences.weightUnit === unit.weightUnit"
                (click)="changePreference(unit.weightUnit)"
            >
                <ion-text class="txt">
                    {{ unit.unitName | translate }}
                </ion-text>
                <ion-icon
                    *ngIf="preferences.weightUnit === unit.weightUnit"
                    name="checkmark-outline"
                    class="checkmark"
                    slot="end"
                ></ion-icon>
            </ion-item>
        </ng-container>
    </ng-container>
</ion-list>
