<ion-list>
    <ng-container [ngSwitch]="preferenceType">
        <ng-container *ngSwitchCase="'language'">
            <ion-item
                *ngFor="let language of languageData"
                lines="none"
                [disabled]="preferences.languageCode === language.LanguageCode"
                (click)="changePreference(language.LanguageCode)">
                <ion-img [src]="language.ImageUrl"></ion-img>
                <ion-text class="txt">
                    {{ language.LanguageName | translate }}
                </ion-text>
                <ion-icon
                    *ngIf="preferences.languageCode === language.LanguageCode"
                    name="checkmark-outline"
                    class="checkmark"
                    slot="end"></ion-icon>
            </ion-item>
        </ng-container>
        <ng-container *ngSwitchCase="'weightUnit'">
            <ion-item
                *ngFor="let unit of unitData"
                lines="none"
                [disabled]="preferences.weightUnit === unit.WeightUnit"
                (click)="changePreference(unit.WeightUnit)">
                <ion-text class="txt">
                    {{ unit.UnitName | translate }}
                </ion-text>
                <ion-icon
                    *ngIf="preferences.weightUnit === unit.WeightUnit"
                    name="checkmark-outline"
                    class="checkmark"
                    slot="end"></ion-icon>
            </ion-item>
        </ng-container>
    </ng-container>
</ion-list>
