
<div
    mat-dialog-title
    *ngIf="data.message">
    <p>{{ data.message }}</p>
</div>

<div
    mat-dialog-title
    *ngIf="(data.brisanje.message$ | async) as message">
    <p>{{ message }}</p>
</div>
<div
    mat-dialog-content
    *ngIf="data.brisanje">
    <p class="mat-subheading-1">
        {{ 'training.new_training.exercise_name' | translate }}
        <strong>{{ data.brisanje.exerciseName }}</strong>
    </p>
</div>
<mat-dialog-actions>
    <button
        type="button"
        [mat-dialog-close]="true"
        mat-raised-button
        color="primary"
        *ngIf="data.brisanje">
        {{ 'common.delete' | translate }}
    </button>
    <button
        type="button"
        [mat-dialog-close]="false"
        mat-raised-button
        [color]="data.isError ? 'primary' : ''">
        {{ 'common.close' | translate }}
    </button>
</mat-dialog-actions>
