
<div
    *ngIf="data.message"
    mat-dialog-title>
    <p class="message">{{ data.message }}</p>
</div>

<div
    *ngIf="(data.deleteExercise.message$ | async) as message"
    mat-dialog-title>
    <p class="message">{{ message }}</p>
</div>
<div
    *ngIf="data.deleteExercise"
    mat-dialog-content>
    <p class="mat-subheading-1 message">
        {{ 'training.new_training.exercise_name' | translate }}
        <strong>{{ data.deleteExercise.exerciseName | translate }}</strong>
    </p>
</div>
<mat-dialog-actions class="actions">
    <button
        mat-raised-button
        type="button"
        [color]="data.isError ? 'primary' : ''"
        [mat-dialog-close]="false">
        {{ 'common.actions.close' | translate }}
    </button>
    <button
        *ngIf="data.deleteExercise"
        mat-raised-button
        type="button"
        color="primary"
        [mat-dialog-close]="true">
        {{ 'common.actions.delete' | translate }}
    </button>
</mat-dialog-actions>
